In [1]:
import pandas as pd
import matplotlib.pyplot as plt
#pd.options.display.float_format = '{:,.2f}'.format

In [2]:
# Preparing the dataset


file_name_1 = 'C:/temp/export-address-token-0xdc24316b9ae028f1497c275eb9192a3ea0f67022_1.csv'
file_name_2 = 'C:/temp/export-address-token-0xdc24316b9ae028f1497c275eb9192a3ea0f67022_2.csv'
df_1 = pd.read_csv(file_name_1)  
df_2 = pd.read_csv(file_name_2) 
df_steth= pd.concat([df_1, df_2],ignore_index=True)

df_steth['Value'] = pd.to_numeric(df_steth['Value'].str.replace(',', ''))
df_steth.info()


file_name_3 = 'C:/temp/export-0xdc24316b9ae028f1497c275eb9192a3ea0f67022_1.csv'
file_name_4 = 'C:/temp/export-0xdc24316b9ae028f1497c275eb9192a3ea0f67022_2.csv'
df_3 = pd.read_csv(file_name_3)  
df_4 = pd.read_csv(file_name_4) 
df_internal= pd.concat([df_3, df_4],ignore_index=True)
df_internal = df_internal[df_internal['ErrCode']!='Out of gas']
df_internal.info()

file_name_5 = 'C:/temp/export-0xdc24316b9ae028f1497c275eb9192a3ea0f67022_withnotes_1.csv'
file_name_6 = 'C:/temp/export-0xdc24316b9ae028f1497c275eb9192a3ea0f67022_withnotes_2.csv'
df_5 = pd.read_csv(file_name_5)  
df_6 = pd.read_csv(file_name_6) 
df_trans= pd.concat([df_5, df_6],ignore_index=True)
df_trans = df_trans[df_trans['ErrCode']!='Out of gas']
df_trans.info()

file_name_7 = 'C:/temp/export-token-0x06325440d014e39736583c165c2963ba99faf14e_1.csv'
file_name_8 = 'C:/temp/export-token-0x06325440d014e39736583c165c2963ba99faf14e_2.csv'
df_7 = pd.read_csv(file_name_7)  
df_8 = pd.read_csv(file_name_8) 
df_stecrv= pd.concat([df_7, df_8],ignore_index=True)
df_stecrv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5568 entries, 0 to 5567
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Txhash           5568 non-null   object
 1   UnixTimestamp    5568 non-null   int64
 2   DateTime         5568 non-null   object
 3   From             5568 non-null   object
 4   To               5568 non-null   object
 5   Value            5568 non-null   float64
 6   ContractAddress  5568 non-null   object
 7   TokenName        5568 non-null   object
 8   TokenSymbol      5568 non-null   object
dtypes: float64(1), int64(1), object(7)
memory usage: 391.6+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5935 entries, 0 to 5934
Data columns (total 19 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Txhash                       5935 non-null   object
 1   Blockno                      5935 non-null   int64
 2   UnixTimestamp                5935 non-null   int64
 3   DateTime                     5935 non-null   object
 4   ParentTxFrom                 5935 non-null   object
 5   ParentTxTo                   5935 non-null   object
 6   ParentTxETH_Value            5935 non-null   float64
 7   From                         5935 non-null   object
 8   TxTo                         5935 non-null   object
 9   ContractAddress              0 non-null      float64
 10  Value_IN(ETH)                5935 non-null   float64
 11  Value_OUT(ETH)               5935 non-null   float64
 12  CurrentValue @ $2240.29/Eth  3425 non-null   float64
 13  Historical $Price/Eth        5935 non-null   float64
 14  Status                       5935 non-null   int64
 15  ErrCode                      7 non-null      object
 16  Type                         5935 non-null   object
 17  PrivateNote                  0 non-null      float64
 18  CurrentValue @ $2240.12/Eth  2510 non-null   float64
dtypes: float64(8), int64(3), object(8)
memory usage: 927.3+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 6485 entries, 0 to 6494
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Txhash                       6485 non-null   object
 1   Blockno                      6485 non-null   int64
 2   UnixTimestamp                6485 non-null   int64
 3   DateTime                     6485 non-null   object
 4   From                         6485 non-null   object
 5   To                           6484 non-null   object
 6   ContractAddress              1 non-null      object
 7   Value_IN(ETH)                6485 non-null   float64
 8   Value_OUT(ETH)               6485 non-null   int64
 9   CurrentValue @ $2287.5/Eth   4414 non-null   float64
 10  TxnFee(ETH)                  6485 non-null   float64
 11  TxnFee(USD)                  6485 non-null   float64
 12  Historical $Price/Eth        6472 non-null   float64
 13  Status                       116 non-null    object
 14  ErrCode                      116 non-null    object
 15  PrivateNote                  0 non-null      float64
 16  CurrentValue @ $2279.77/Eth  2071 non-null   float64
dtypes: float64(7), int64(3), object(7)
memory usage: 912.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6473 entries, 0 to 6472
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Txhash         6473 non-null   object
 1   Blockno        6473 non-null   int64
 2   UnixTimestamp  6473 non-null   int64
 3   DateTime       6473 non-null   object
 4   From           6473 non-null   object
 5   To             6473 non-null   object
 6   Quantity       6473 non-null   float64
dtypes: float64(1), int64(2), object(4)
memory usage: 354.1+ KB

In [3]:
# steth sold
adr_sold_steth = df_steth[df_steth['From']!='0xdc24316b9ae028f1497c275eb9192a3ea0f67022'][['Txhash','DateTime','From','Value']] 
adr_sold_steth.columns = ['Txhash','DateTime','Address','Value_steth']
adr_sold_steth['Value_steth'] = adr_sold_steth['Value_steth']*(-1)

# steth bought
adr_bought_steth = df_steth[df_steth['To']!='0xdc24316b9ae028f1497c275eb9192a3ea0f67022'][['Txhash','DateTime','To','Value']] 
adr_bought_steth.columns = ['Txhash','DateTime','Address','Value_steth']

# steth turnover
adr_steth= pd.concat([adr_bought_steth, adr_sold_steth],ignore_index=True).sort_values(by='DateTime') 
adr_list = adr_steth['Txhash'].unique().tolist()

# eth bought (when steth sold)
adr_bought_eth  = df_internal.query('Txhash in @adr_list')[['Txhash', 'DateTime','TxTo','Value_OUT(ETH)']]
adr_bought_eth.columns = ['Txhash','DateTime','Address','Value_eth']

# eth sold (when steth bought)
adr_sold_eth = df_trans.query('Txhash in @adr_list')[['Txhash', 'DateTime','From','Value_IN(ETH)']]
adr_sold_eth.columns = ['Txhash','DateTime','Address','Value_eth']
adr_sold_eth['Value_eth'] = adr_sold_eth['Value_eth']*(-1)

# eth turnover
adr_eth= pd.concat([adr_bought_eth, adr_sold_eth],ignore_index=True).sort_values(by='DateTime') 
adr_eth = adr_eth.pivot_table(index = ['Txhash','DateTime','Address'], values = 'Value_eth', aggfunc='sum').reset_index()

# sterth + eth turnover together
adr_steth_eth = pd.merge(adr_steth,adr_eth, on = ['Txhash','DateTime','Address'])

# check add/remove liqiudity
adr_stecrv_add = df_stecrv.query('Txhash in @adr_list')[df_stecrv.query('Txhash in @adr_list')['From'] == '0x0000000000000000000000000000000000000000'][['Txhash', 'DateTime', 'To','Quantity']]
adr_stecrv_add.columns = ['Txhash','DateTime','Address','Value_stecrv']
adr_stecrv_remove = df_stecrv.query('Txhash in @adr_list')[df_stecrv.query('Txhash in @adr_list')['To'] == '0x0000000000000000000000000000000000000000'][['Txhash', 'DateTime','From','Quantity']]
adr_stecrv_remove['Quantity']=adr_stecrv_remove['Quantity'] *(-1)
adr_stecrv_remove.columns = ['Txhash','DateTime','Address','Value_stecrv']
adr_stecrv= pd.concat([adr_stecrv_add, adr_stecrv_remove],ignore_index=True).sort_values(by='DateTime') 

# the full dataset of transactions: sterth + eth + stecrv turnover together
adr_full = pd.merge(adr_steth_eth,adr_stecrv, on = ['Txhash','DateTime','Address'], how='left')

# steth exchange price calculation
adr_full['steth_price']=adr_full['Value_eth']/adr_full['Value_steth']*(-1)

# adding type of transactions
result1=[]
result2=[]
for row in adr_full[['Value_steth','Value_eth', 'Value_stecrv']].to_numpy():
    if row[2]>0:
        result1.append('add_liquidity')
        result2.append('liquidity')
    elif row[2]<0:
        result1.append('remove_liquidity')
        result2.append('liquidity')
    elif row[0] >0 and row[1] < 0:
        result1.append('steth_bought') 
        result2.append('exchange')
    elif row[0] <0 and row[1] > 0:
        result1.append('steth_sold')
        result2.append('exchange')
    else:
        result1.append('tbd')
        result2.append('tbd')
adr_full['type_1'] =  result1 
adr_full['type_0'] =  result2 

# addresses that both sold and bought steth (= made arbing)
list_sold = adr_full[adr_full['type_1']=='steth_sold']['Address'].unique().tolist()
list_bought = adr_full[adr_full['type_1']=='steth_bought']['Address'].unique().tolist()
list_ex = (set(list_sold)&set(list_bought))

# dataset with addresses that both sold and bought steth
adr_ex=adr_full.query('Address in @list_ex')

# adding the transactions' fees
list_txhash_ex = adr_ex['Txhash'].tolist()
df_trans.query('Txhash in @list_txhash_ex')[['Txhash','TxnFee(ETH)']]
adr_full_ex = pd.merge(adr_ex,df_trans.query('Txhash in @list_txhash_ex')[['Txhash','TxnFee(ETH)']], on = 'Txhash')
adr_full_ex['TxnFee(ETH)'] = adr_full_ex['TxnFee(ETH)'] *(-1)
adr_full_ex.sort_values(by = ['Address','DateTime'])

# the outcome: addresses that made arbing and their exchange transactions and financial results 
dic_resume_all = {} # dataset: all addresses that both sold and bought steth and their financial results
dic_trans = {} # dataset: addresses that both sold and bought stethg and their exchange transactions
list_resume_arbing = [] # list of addresses that made arbing
list_resume_arbing_leaders = [] # list of addresses-leaders that made arbing

for address in list_ex:
    # getting exchange transactons for the address 
    type_adr = 'exchange'
    df_adr_arb =adr_full_ex.query('Address == @address and type_0 == @type_adr')
    # margin as the difference of weighted by stethtotal value price for selling and buying 
    margin = abs(df_adr_arb[df_adr_arb['type_1']=='steth_sold']['Value_eth'].sum()/df_adr_arb[df_adr_arb['type_1']=='steth_sold']['Value_steth'].sum()) - abs(df_adr_arb[df_adr_arb['type_1']=='steth_bought']['Value_eth'].sum()/df_adr_arb[df_adr_arb['type_1']=='steth_bought']['Value_steth'].sum())
    # value_steth_for_calc as min steth total value of selling and buying
    value_steth_for_calc = min(abs(df_adr_arb[df_adr_arb['type_1']=='steth_sold']['Value_steth'].sum()),abs(df_adr_arb[df_adr_arb['type_1']=='steth_bought']['Value_steth'].sum()))
    gross_profit = value_steth_for_calc*margin
    # fees_paid are taken proportionally the min steth total value of selling and buying
    fees_paid = df_adr_arb[df_adr_arb['type_1']=='steth_sold']['TxnFee(ETH)'].sum()*value_steth_for_calc/abs(df_adr_arb[df_adr_arb['type_1']=='steth_sold']['Value_steth'].sum()) + df_adr_arb[df_adr_arb['type_1']=='steth_bought']['TxnFee(ETH)'].sum()*value_steth_for_calc/abs(df_adr_arb[df_adr_arb['type_1']=='steth_bought']['Value_steth'].sum())
    operating_profit = gross_profit+fees_paid
    # time_period in seconds, APR and net_APR in %
    time_period = df_trans[df_trans['Txhash'] == df_adr_arb.iloc[len(df_adr_arb)-1]['Txhash']]['UnixTimestamp'].sum() - df_trans[df_trans['Txhash'] == df_adr_arb.iloc[0]['Txhash']]['UnixTimestamp'].sum()
    APR = gross_profit/value_steth_for_calc / time_period *(365*24*60*60*100)
    net_APR = operating_profit/value_steth_for_calc / time_period *(365*24*60*60*100)
    
    adr_resume = pd.DataFrame({'characteristics':['Value of exchange, stETH',
                                                 'Margin of exchange, ETH',
                                                 'Gross profit, ETH:',
                                                 'APR, %:',
                                                 'Fees paid, ETH:',
                                                 'Operating profit, ETH:',
                                                 'Net APR, %:'],
                              'values':[value_steth_for_calc,
                                       margin,
                                       gross_profit,
                                       APR,
                                       fees_paid,
                                       operating_profit,
                                       net_APR]})#.set_index('characteristics')
    
    # dataset: all addresses that both sold and bought steth and their financial results
    dic_resume_all.update({address:adr_resume})
    
    # dataset: addresses that both sold and bought stethg and their exchange transactions
    dic_trans.update({address:df_adr_arb[['Txhash','DateTime', 'Value_steth', 'Value_eth', 'TxnFee(ETH)', 'steth_price', 'type_1']].set_index('Txhash')})
    
    # list of addresses that made arbing: margin > 0
    if margin > 0: 
        list_resume_arbing.append(address)
        
    # list of addresses-leaders that made arbing: price_sold.max - price_bought.min > 0.02, operating_profit>0    
    if (df_adr_arb[df_adr_arb['type_1']=='steth_sold']['steth_price'].max()-df_adr_arb[df_adr_arb['type_1']=='steth_bought']['steth_price'].min()) > 0.02 and operating_profit>0:
        list_resume_arbing_leaders.append(address)                                                                                                       

        
# sorting the lists by values         
dic_sort_by_value_of_exchange={}

for address in list_resume_arbing:
    dic_sort_by_value_of_exchange.update({address:dic_resume_all.get(address).iloc[0]['values']})
dic_sort_by_value_of_exchange={k: v for k, v in sorted(dic_sort_by_value_of_exchange.items(), reverse=True, key=lambda item: item[1])}


dic_sort_by_value_of_exchange_leaders={}

for address in list_resume_arbing_leaders:
    dic_sort_by_value_of_exchange_leaders.update({address:dic_resume_all.get(address).iloc[0]['values']})
dic_sort_by_value_of_exchange_leaders={k: v for k, v in sorted(dic_sort_by_value_of_exchange_leaders.items(), reverse=True, key=lambda item: item[1])}

In [4]:
# the outcome for addresses-leaders that made arbing
for address in dic_sort_by_value_of_exchange_leaders.keys():
    print('Address:', address)
    display(dic_resume_all.get(address))
    display(dic_trans.get(address))
    print()
    print()
    print()

Address: 0x40d227723d66eb5d5cb1dff427c51a49d0b9957e

            characteristics       values
0  Value of exchange, stETH  1590.818500
1   Margin of exchange, ETH     0.005491
2        Gross profit, ETH:     8.734513
3                   APR, %:     7.645423
4           Fees paid, ETH:    -0.324218
5    Operating profit, ETH:     8.410295
6               Net APR, %:     7.361631

,DateTime,Value_steth,Value_eth,TxnFee(ETH),steth_price,type_1
Txhash,,,,,,
0x6897a7e3a7d4c0a7eba14106a75b2f19c55e6a8f5943691c641b11faf0482950,2021-01-24 20:29:32,104.371567,-100.000000,-0.012968,0.958115,steth_bought
0x0549b6e99a8e9f2f5be29c8676275545493bd9f9f07d9ae54523b70e033492ed,2021-01-31 05:37:06,101.014453,-100.000000,-0.013651,0.989957,steth_bought
0x71ce5216adb98fb8b9ebdd20b7375b9d964b6e76cdbb9d2063126d2c907c7b84,2021-02-01 05:36:54,-100.152000,100.001346,-0.013553,0.998496,steth_sold
0x7b424e71cddc5de2dd3668a1516dccc79f7e041c920ca9308c59b763b8590077,2021-02-07 00:40:11,250.478704,-250.000000,-0.016182,0.998089,steth_bought
0xe1a6012fd4f03f54a024f85022b6d371e6f52dbec44eda8f4b79dd7ab338c4b0,2021-02-07 02:49:00,-250.000000,249.907013,-0.024642,0.999628,steth_sold
0x7f8be0dc5fd7e37afcb61d997b82b7c55ed7dae2b1f61df957f0af5b88b8c581,2021-02-09 22:58:05,200.448440,-200.000000,-0.026971,0.997763,steth_bought
0x9587e435bd7ef91f8af5304b0af356468fb1bc454b3acba172e9c39dc44511a1,2021-02-10 00:06:16,-200.126500,200.000055,-0.030805,0.999368,steth_sold
0x9c53c08512ec2c7d48fd7f9819f6a3d07e488d1c4bbd736b2f332ba909742613,2021-02-10 03:35:59,250.991916,-250.000000,-0.026971,0.996048,steth_bought
0x91bacd9d135a8c84bbdf9574538c6804b94a2e0b7c6a0c0d1beff4441e90310f,2021-02-13 00:22:43,-250.060000,250.004901,-0.034434,0.999780,steth_sold
0x965051f5392c6425d92cfe949722c38a6cb5c9bc3bbb1db64ad7fd48a67facae,2021-02-13 05:46:26,100.481948,-100.000000,-0.015104,0.995204,steth_bought
0x74c1c652f9f3f2df8d5f4ddfde7bb7185a9b0677ce630aa4639b317b9202fc4b,2021-02-14 19:26:59,-100.480000,100.230515,-0.016757,0.997517,steth_sold
0x9e95b9e2c767b5bee07b24999c6aca55f4cfe4e2e34c2bba622c7bd7ac922d2f,2021-02-16 05:53:38,251.488640,-250.000000,-0.016697,0.994081,steth_bought
0x52fa50732dd1d08d8270e11419fbd4ee034e9ffe8b58b757044043323d27be6d,2021-02-17 16:53:53,165.502328,-165.000000,-0.020077,0.996965,steth_bought
0xc333def48fd09a63bc965e6cc33a54687cb144ccd2f3b7c4b98c5a47eb1c32d6,2021-02-17 21:29:00,201.017380,-200.000000,-0.034523,0.994939,steth_bought
0x1a4e1a0184d08e8255b0ff19568d0f97c474b3178aee57ac6f10ac05be32e946,2021-02-18 03:43:51,75.777124,-75.000000,-0.022979,0.989745,steth_bought
0x556bbf8688b2c2b8e2e8a617df517bc30e1d0b4ddd849e7e2265e94db9e77883,2021-02-18 13:39:17,-690.000000,688.985139,-0.019467,0.998529,steth_sold
0xd0fca3745489dd992663ebce94931c5b9c2ea0b6e23327c4112a0d9c3da7d1d8,2021-02-19 20:04:28,251.243813,-250.000000,-0.021803,0.995049,steth_bought
0xb64ffce51acabf4057a39203328946db1554e0cc83d0478b896c4f4ec3934eb0,2021-02-20 01:26:59,251.717569,-250.000000,-0.027464,0.993177,steth_bought
0xe1b70d534e1873b60ddef1380bf7782463a6880b17e7c5af24f6a3683d9aa45b,2021-02-20 01:35:37,251.559993,-250.000000,-0.029557,0.993799,steth_bought

Address: 0x0eb4add4ba497357546da7f5d12d39587ca24606

            characteristics       values
0  Value of exchange, stETH  1029.729159
1   Margin of exchange, ETH     0.027573
2        Gross profit, ETH:    28.392890
3                   APR, %:    28.076531
4           Fees paid, ETH:    -0.038585
5    Operating profit, ETH:    28.354306
6               Net APR, %:    28.038376

,DateTime,Value_steth,Value_eth,TxnFee(ETH),steth_price,type_1
Txhash,,,,,,
0xbc708a1c91f9dc82ee985d557fb5a1a8856052e97b2a81cd50c58f1510b649bd,2021-03-08 20:46:08,1029.729159,-1000.000000,-0.015630,0.971129,steth_bought
0x15337673d32b5fba20be08402935b47833569975d21a6844bd03598e72adeba1,2021-04-13 17:03:49,-1037.329313,1035.983182,-0.023124,0.998702,steth_sold

Address: 0x49cae5c4e03196bef2f9984469bd096878043719

            characteristics       values
0  Value of exchange, stETH   251.572598
1   Margin of exchange, ETH     0.039778
2        Gross profit, ETH:    10.007178
3                   APR, %:  4127.581023
4           Fees paid, ETH:    -0.057598
5    Operating profit, ETH:     9.949579
6               Net APR, %:  4103.823898

,DateTime,Value_steth,Value_eth,TxnFee(ETH),steth_price,type_1
Txhash,,,,,,
0x0fb9862cc3fce4100ecbff633fcc5aab9527cef4df56b7bf05b678ec32b640c8,2021-01-24 20:07:57,209.665904,-200.000000,-0.024468,0.953899,steth_bought
0x73d1753e09a209326ffd180a689c396d3703e26d85c8423ef9568b9c6f20f518,2021-01-24 20:11:27,41.906694,-40.000000,-0.014169,0.954501,steth_bought
0xd358e18481d8607506dae1170c6eb1c52cb5807457b5c7d5bf61c9dda7855b18,2021-01-25 04:34:29,-251.572598,250.007178,-0.018961,0.993777,steth_sold

Address: 0x50013c043ea8ed2b5377e38ff5a874dbfd16460b

            characteristics      values
0  Value of exchange, stETH  160.256579
1   Margin of exchange, ETH    0.008277
2        Gross profit, ETH:    1.326468
3                   APR, %:    4.079201
4           Fees paid, ETH:   -0.106349
5    Operating profit, ETH:    1.220119
6               Net APR, %:    3.752152

,DateTime,Value_steth,Value_eth,TxnFee(ETH),steth_price,type_1
Txhash,,,,,,
0xaf078f498be7467f6bcfb31a0f3edcf7914dcf008e6b88e536a327cb91c870cc,2021-01-24 21:37:22,47.250526,-46.000000,-0.009712,0.973534,steth_bought
0x0075a46728941b0f2c77200c5b5033fd5906151b9316ea51abfd8bd5baf9fb67,2021-01-26 05:52:20,-47.252949,47.124238,-0.007727,0.997276,steth_sold
0x2ce163a5f12c7acfaa589c4c100323f510ba6651b276e0f5ddf9b03df4060d9f,2021-02-10 05:37:03,23.104526,-23.000000,-0.013097,0.995476,steth_bought
0x32ed9fef2b007cf503b5293fb2c1ebab37d521be9161f1db3df372d400e47cb2,2021-02-14 19:22:47,-23.119321,23.065859,-0.016418,0.997688,steth_sold
0xe6bd25f69b387ab87a0cdac9cb4bc6a3c4539bfd3188ebf1b764a8f8f8cfe99a,2021-02-18 04:34:37,35.336362,-35.000000,-0.014133,0.990481,steth_bought
0xcdb24b0c8976436f936a395d74f135bffc32dd14d4424ae34424ed70aa4e6d32,2021-02-19 14:50:54,-35.342102,35.313003,-0.022919,0.999177,steth_sold
0xe1344536371e6f5e639ace44164ed150231e3b03507030d94568afa94ea14915,2021-02-21 06:40:32,60.002874,-59.520000,-0.011095,0.991952,steth_bought
0xd735c89cfdb55ad92c8f55c00792646ba2ada63687aa1b17a4443ea0ac10de26,2021-04-08 23:07:28,-54.542206,53.977014,-0.012824,0.989638,steth_sold

Address: 0x1488ec6c55243e7130b756949b0238693c7e382b

            characteristics      values
0  Value of exchange, stETH  137.950000
1   Margin of exchange, ETH    0.005996
2        Gross profit, ETH:    0.827138
3                   APR, %:   51.986251
4           Fees paid, ETH:   -0.024193
5    Operating profit, ETH:    0.802945
6               Net APR, %:   50.465715

,DateTime,Value_steth,Value_eth,TxnFee(ETH),steth_price,type_1
Txhash,,,,,,
0xb36cef7fb8e515fd96c4ac1e51d44c27d590e412c5767a0023f3e12c9d3ff61f,2021-01-22 18:18:57,251.298636,-250.000000,-0.011325,0.994832,steth_bought
0x6ee7637ae0427a4b3d0522f2c14eef548505f94f2a207397fcda7dcb640a16ec,2021-01-24 20:03:29,20.978855,-20.000000,-0.015994,0.953341,steth_bought
0x0820fc2e7ea693d0918e03e5f53b72bd05b54c43216759ed7ae3cd344162f943,2021-01-26 23:21:03,-137.950000,137.623242,-0.010352,0.997631,steth_sold

Address: 0xe641a99b99b7fe11d6d6b44442a2a37bfd5696e5

            characteristics     values
0  Value of exchange, stETH  20.611042
1   Margin of exchange, ETH   0.025897
2        Gross profit, ETH:   0.533770
3                   APR, %:  53.939999
4           Fees paid, ETH:  -0.012188
5    Operating profit, ETH:   0.521582
6               Net APR, %:  52.708313

,DateTime,Value_steth,Value_eth,TxnFee(ETH),steth_price,type_1
Txhash,,,,,,
0x0de075a9f6077a18c5d8dacc1b0e9a184eb3abdc63caecffab6a1882102b09d8,2021-03-28 09:42:01,20.611042,-20.000000,-0.008676,0.970354,steth_bought
0x9e0ef0ff408004c5c9451e6f66c282ab2cbb1f5fe3f5b17ab0a12172a84341cc,2021-04-14 22:16:45,-70.871092,70.605393,-0.012077,0.996251,steth_sold

Address: 0xfe62145b68ae16b59f88c121651a9019f13f3653

            characteristics     values
0  Value of exchange, stETH  16.709098
1   Margin of exchange, ETH   0.011194
2        Gross profit, ETH:   0.187041
3                   APR, %:   9.367825
4           Fees paid, ETH:  -0.081613
5    Operating profit, ETH:   0.105427
6               Net APR, %:   5.280272

,DateTime,Value_steth,Value_eth,TxnFee(ETH),steth_price,type_1
Txhash,,,,,,
0xe048010a65b8a99b20646d2fdf0705d472385ecc8c52871c90b17ca50c2d5d3a,2021-03-10 08:04:28,4.612655,-4.500000,-0.009764,0.975577,steth_bought
0xda4272b6514862960cd0721ec1eedafe4a35ba90465a5e85f530b38ce058826d,2021-03-10 08:09:08,4.612612,-4.500000,-0.009658,0.975586,steth_bought
0x08f72ee2e6df2a433956b91a6f3b3079ffe3e963e503776f042d4e1a246b9023,2021-03-10 08:27:40,-4.730000,4.610831,-0.012468,0.974806,steth_sold
0x3f0141a093109710d87bb61b4ac7ca1aed7a7a02e1d62973f1609293f013ff79,2021-03-10 08:47:36,2.061927,-2.000000,-0.010838,0.969966,steth_bought
0xe341daf448d2c5219c4663c03fff539f7b49790da7971efb75c64f4860523a41,2021-03-13 14:29:25,5.421903,-5.300000,-0.014379,0.977516,steth_bought
0x186b2df63569ee84927043084e1e7602c791a42324ff1d557f6070eec2a493b7,2021-03-14 17:42:21,-1.500000,1.461587,-0.016427,0.974391,steth_sold
0x83d0ce27f57035264a262ba8b8389d91c30a285cde56ef44015a831f15a705cf,2021-04-22 22:50:14,-12.261351,12.173190,-0.012023,0.992810,steth_sold

Address: 0x000ad8f56d3408abe29466189612d1b7b19e4420

            characteristics     values
0  Value of exchange, stETH  15.472488
1   Margin of exchange, ETH   0.021736
2        Gross profit, ETH:   0.336307
3                   APR, %:  11.336835
4           Fees paid, ETH:  -0.051061
5    Operating profit, ETH:   0.285246
6               Net APR, %:   9.615579

,DateTime,Value_steth,Value_eth,TxnFee(ETH),steth_price,type_1
Txhash,,,,,,
0x87f64b1e48c02c9c676f6436bc6e925a2a0fcf7e36782dbf0d8c8aa3174f8aba,2021-01-24 21:28:27,5.148609,-5.000000,-0.010724,0.971136,steth_bought
0x5932d4624ef919eb79c184c84c7e12a0e0986b8e08ea43c231c3f8644fc65332,2021-01-25 08:29:30,-5.148609,5.114416,-0.008698,0.993359,steth_sold
0x145d66f132efa3ac25dc8edfda01cb8d3179751c4feeabc0b8a8f2c04da59ca7,2021-02-10 22:28:49,5.102535,-5.000000,-0.012315,0.979905,steth_bought
0xa3f089f772dec0edd4e223fa2c1f7e68264ae83f2d46f4938a618a3f85b8db4f,2021-03-07 22:07:36,5.221344,-5.000000,-0.007834,0.957608,steth_bought
0xf446a409bf7d734780d8e6c844c88e9942dfb779704bb73f8ad06e57b0b1b96e,2021-04-04 21:00:22,-10.407321,10.304599,-0.011599,0.990130,steth_sold

Address: 0xa91508dc7a7753ac2420adc2fbd17ce8364810e7

            characteristics     values
0  Value of exchange, stETH   6.103101
1   Margin of exchange, ETH   0.012453
2        Gross profit, ETH:   0.076000
3                   APR, %:  12.174912
4           Fees paid, ETH:  -0.032419
5    Operating profit, ETH:   0.043580
6               Net APR, %:   6.981435

,DateTime,Value_steth,Value_eth,TxnFee(ETH),steth_price,type_1
Txhash,,,,,,
0xd7991ffb709a596d0c38c79f56c70c60931a53dcef9af88f1739e8cdd1118d6a,2021-03-02 23:23:59,2.201905,-2.150000,-0.009785,0.976427,steth_bought
0xa0ab4a70d09a0d8a0688fcb4a0f71911d1d5b30926327dead60baf9569c1443d,2021-03-18 23:43:25,3.901196,-3.800000,-0.012528,0.974060,steth_bought
0x3b384ef18f474b361cd2f47b0195902f91640998cd9fa47e991c41cbbd1a1a3b,2021-03-31 07:48:25,-10.896144,10.692378,-0.019205,0.981299,steth_sold
0x5cf09589f87eaa3988e89f1516f324919bd605936d8cc3b3146be7c7d371d2cd,2021-04-09 07:22:54,-7.554659,7.525335,-0.011348,0.996118,steth_sold

Address: 0x11f262d4154f7860da5e4f595778087eb7434bce

            characteristics     values
0  Value of exchange, stETH   2.565703
1   Margin of exchange, ETH   0.026528
2        Gross profit, ETH:   0.068063
3                   APR, %:  18.176711
4           Fees paid, ETH:  -0.014914
5    Operating profit, ETH:   0.053149
6               Net APR, %:  14.193866

,DateTime,Value_steth,Value_eth,TxnFee(ETH),steth_price,type_1
Txhash,,,,,,
0xaf11c95415411270153761647ed54c44566eea38e7a31ae02d4901502368908c,2021-01-09 16:09:02,-4.958851,4.963412,-0.012267,1.000920,steth_sold
0xfec105642700866a6c99fab9e2c525203a3fcdb5c3c56ebc2ef49a7b6b42b122,2021-03-03 22:37:23,2.565703,-2.500000,-0.008567,0.974392,steth_bought

In [5]:
# the outcome for all addresses that made arbing
for address in dic_sort_by_value_of_exchange.keys():
    print('Address:', address)
    display(dic_resume_all.get(address))
    display(dic_trans.get(address))
    print()
    print()
    print()

Address: 0x40d227723d66eb5d5cb1dff427c51a49d0b9957e

            characteristics       values
0  Value of exchange, stETH  1590.818500
1   Margin of exchange, ETH     0.005491
2        Gross profit, ETH:     8.734513
3                   APR, %:     7.645423
4           Fees paid, ETH:    -0.324218
5    Operating profit, ETH:     8.410295
6               Net APR, %:     7.361631

,DateTime,Value_steth,Value_eth,TxnFee(ETH),steth_price,type_1
Txhash,,,,,,
0x6897a7e3a7d4c0a7eba14106a75b2f19c55e6a8f5943691c641b11faf0482950,2021-01-24 20:29:32,104.371567,-100.000000,-0.012968,0.958115,steth_bought
0x0549b6e99a8e9f2f5be29c8676275545493bd9f9f07d9ae54523b70e033492ed,2021-01-31 05:37:06,101.014453,-100.000000,-0.013651,0.989957,steth_bought
0x71ce5216adb98fb8b9ebdd20b7375b9d964b6e76cdbb9d2063126d2c907c7b84,2021-02-01 05:36:54,-100.152000,100.001346,-0.013553,0.998496,steth_sold
0x7b424e71cddc5de2dd3668a1516dccc79f7e041c920ca9308c59b763b8590077,2021-02-07 00:40:11,250.478704,-250.000000,-0.016182,0.998089,steth_bought
0xe1a6012fd4f03f54a024f85022b6d371e6f52dbec44eda8f4b79dd7ab338c4b0,2021-02-07 02:49:00,-250.000000,249.907013,-0.024642,0.999628,steth_sold
0x7f8be0dc5fd7e37afcb61d997b82b7c55ed7dae2b1f61df957f0af5b88b8c581,2021-02-09 22:58:05,200.448440,-200.000000,-0.026971,0.997763,steth_bought
0x9587e435bd7ef91f8af5304b0af356468fb1bc454b3acba172e9c39dc44511a1,2021-02-10 00:06:16,-200.126500,200.000055,-0.030805,0.999368,steth_sold
0x9c53c08512ec2c7d48fd7f9819f6a3d07e488d1c4bbd736b2f332ba909742613,2021-02-10 03:35:59,250.991916,-250.000000,-0.026971,0.996048,steth_bought
0x91bacd9d135a8c84bbdf9574538c6804b94a2e0b7c6a0c0d1beff4441e90310f,2021-02-13 00:22:43,-250.060000,250.004901,-0.034434,0.999780,steth_sold
0x965051f5392c6425d92cfe949722c38a6cb5c9bc3bbb1db64ad7fd48a67facae,2021-02-13 05:46:26,100.481948,-100.000000,-0.015104,0.995204,steth_bought
0x74c1c652f9f3f2df8d5f4ddfde7bb7185a9b0677ce630aa4639b317b9202fc4b,2021-02-14 19:26:59,-100.480000,100.230515,-0.016757,0.997517,steth_sold
0x9e95b9e2c767b5bee07b24999c6aca55f4cfe4e2e34c2bba622c7bd7ac922d2f,2021-02-16 05:53:38,251.488640,-250.000000,-0.016697,0.994081,steth_bought
0x52fa50732dd1d08d8270e11419fbd4ee034e9ffe8b58b757044043323d27be6d,2021-02-17 16:53:53,165.502328,-165.000000,-0.020077,0.996965,steth_bought
0xc333def48fd09a63bc965e6cc33a54687cb144ccd2f3b7c4b98c5a47eb1c32d6,2021-02-17 21:29:00,201.017380,-200.000000,-0.034523,0.994939,steth_bought
0x1a4e1a0184d08e8255b0ff19568d0f97c474b3178aee57ac6f10ac05be32e946,2021-02-18 03:43:51,75.777124,-75.000000,-0.022979,0.989745,steth_bought
0x556bbf8688b2c2b8e2e8a617df517bc30e1d0b4ddd849e7e2265e94db9e77883,2021-02-18 13:39:17,-690.000000,688.985139,-0.019467,0.998529,steth_sold
0xd0fca3745489dd992663ebce94931c5b9c2ea0b6e23327c4112a0d9c3da7d1d8,2021-02-19 20:04:28,251.243813,-250.000000,-0.021803,0.995049,steth_bought
0xb64ffce51acabf4057a39203328946db1554e0cc83d0478b896c4f4ec3934eb0,2021-02-20 01:26:59,251.717569,-250.000000,-0.027464,0.993177,steth_bought
0xe1b70d534e1873b60ddef1380bf7782463a6880b17e7c5af24f6a3683d9aa45b,2021-02-20 01:35:37,251.559993,-250.000000,-0.029557,0.993799,steth_bought

Address: 0xcbba4fb07d4a86267741cf1a2c363284eed00f0f

            characteristics       values
0  Value of exchange, stETH  1427.420346
1   Margin of exchange, ETH     0.006760
2        Gross profit, ETH:     9.649221
3                   APR, %:    12.668714
4           Fees paid, ETH:    -0.125359
5    Operating profit, ETH:     9.523863
6               Net APR, %:    12.504128

,DateTime,Value_steth,Value_eth,TxnFee(ETH),steth_price,type_1
Txhash,,,,,,
0xaefc10f7c09d4253ccbec31869691453732a9c7488b7eb8061313449a8cd5424,2021-01-12 14:21:42,-101.000111,101.272319,-0.012599,1.002695,steth_sold
0xa1389c5b6274e61140f81eb0fe8ef4bb0f7188c96c7ec23b597aaef6e9e8e228,2021-01-25 01:55:42,272.653513,-270.000000,-0.013202,0.990268,steth_bought
0xdf9cb3598bf80a51eee6d1ebe34e83578e4c47c6a05fc5a723fa583a6c1ebe89,2021-01-25 09:07:39,100.731481,-100.000000,-0.006581,0.992738,steth_bought
0xce2b2955a9f43eb8c90579c43efee03525aec39114576af4d32747a05190a4ff,2021-01-25 11:09:08,-373.384994,370.306955,-0.009979,0.991756,steth_sold
0xcb1b7fb60d1f6f1732139c24ebac11ee5ca993f917befcd22c7f97981c182563,2021-01-29 10:11:37,273.950557,-270.000000,-0.026596,0.985579,steth_bought
0x8adbd2eaa6cad5e35a4a37bc65c8ac0ddc305ea0181872f858603cd473c45e74,2021-01-29 11:30:40,-273.950557,272.176799,-0.018836,0.993525,steth_sold
0x72497b2d28fc080df7be9db51b33013c119abd72df99db75171ceab0f84b685c,2021-01-30 19:17:17,505.612585,-500.000000,-0.015212,0.988899,steth_bought
0xb5d9d1a3e9ed74c53b9fbf519123c814d4b0b221d42ba36ef473fcbd95fcfa05,2021-01-31 17:05:45,274.472210,-270.000000,-0.011806,0.983706,steth_bought
0x1f7d91abc9017271a9e20a5a19f83c8624f59f1ca949899f5eed04d79e094a85,2021-02-01 01:47:12,-780.118376,776.376796,-0.014226,0.995204,steth_sold

Address: 0x0eb4add4ba497357546da7f5d12d39587ca24606

            characteristics       values
0  Value of exchange, stETH  1029.729159
1   Margin of exchange, ETH     0.027573
2        Gross profit, ETH:    28.392890
3                   APR, %:    28.076531
4           Fees paid, ETH:    -0.038585
5    Operating profit, ETH:    28.354306
6               Net APR, %:    28.038376

,DateTime,Value_steth,Value_eth,TxnFee(ETH),steth_price,type_1
Txhash,,,,,,
0xbc708a1c91f9dc82ee985d557fb5a1a8856052e97b2a81cd50c58f1510b649bd,2021-03-08 20:46:08,1029.729159,-1000.000000,-0.015630,0.971129,steth_bought
0x15337673d32b5fba20be08402935b47833569975d21a6844bd03598e72adeba1,2021-04-13 17:03:49,-1037.329313,1035.983182,-0.023124,0.998702,steth_sold

Address: 0x97960149fc611508748de01202974d372a677632

            characteristics       values
0  Value of exchange, stETH  1000.000000
1   Margin of exchange, ETH     0.010835
2        Gross profit, ETH:    10.834658
3                   APR, %:   174.080527
4           Fees paid, ETH:    -0.023122
5    Operating profit, ETH:    10.811536
6               Net APR, %:   173.709032

,DateTime,Value_steth,Value_eth,TxnFee(ETH),steth_price,type_1
Txhash,,,,,,
0x964ddb6b9bc2cac3e2e833dc340653c095df63f5c3a794362b0fb86ec51add48,2021-01-22 15:38:59,-1000.000000,997.158426,-0.016089,0.997158,steth_sold
0xae844b1a4d29eacf074a2fa4490a1b0f5909d1b73381380b1f5d1a01b689c054,2021-01-24 22:10:17,1419.412211,-1400.000000,-0.009983,0.986324,steth_bought

Address: 0x31f644e2dd5d74f5c8d6d9de89dd517474d51800

            characteristics       values
0  Value of exchange, stETH   299.867897
1   Margin of exchange, ETH     0.002165
2        Gross profit, ETH:     0.649337
3                   APR, %:  1437.044011
4           Fees paid, ETH:    -0.018238
5    Operating profit, ETH:     0.631099
6               Net APR, %:  1396.681910

,DateTime,Value_steth,Value_eth,TxnFee(ETH),steth_price,type_1
Txhash,,,,,,
0x52ff399c74b1ba7eace0b915338dd7fe16c408a4134eb3918d89733f92fd1036,2021-01-13 13:56:46,-100.000000,100.227642,-0.006144,1.002276,steth_sold
0xc269905f788d26d01ee009a5de6c676b5da3f40ca8c557a3953841561d614ba0,2021-01-13 13:57:20,99.595769,-100.000000,-0.005957,1.004059,steth_bought
0x9565ed86e8f7dbbf644c699929b1ba8e35682a0b6bbd0682d26f40282295a255,2021-01-13 13:58:14,-250.000000,250.529418,-0.006144,1.002118,steth_sold
0x0d9efaa867bdd9371133ab14e4774377b2ed02118811f5958d13715937b57c42,2021-01-13 14:13:12,-900.000000,902.945500,-0.006151,1.003273,steth_sold
0xafe9dc377f47443052b95a0c865124d0f000139f808611a1d638907fda5f017e,2021-01-13 14:14:40,200.272128,-200.000000,-0.007768,0.998641,steth_bought
0xad2eaa91e0055e1d7570107073ca8b78d26c7bf2f3310907c8a72dd64146ee73,2021-01-13 15:15:58,-500.000000,500.857844,-0.007900,1.001716,steth_sold

Address: 0x311bf6e6b6d416a808adf524b2fba791bf257e19

            characteristics      values
0  Value of exchange, stETH  263.222026
1   Margin of exchange, ETH    0.004948
2        Gross profit, ETH:    1.302494
3                   APR, %:   88.398344
4           Fees paid, ETH:   -0.041912
5    Operating profit, ETH:    1.260583
6               Net APR, %:   85.553867

,DateTime,Value_steth,Value_eth,TxnFee(ETH),steth_price,type_1
Txhash,,,,,,
0x5dfbd50918c55010add520632449ab2264ef744712d31bea5bc0845f963ee196,2021-02-18 03:45:54,262.568783,-260.000000,-0.020498,0.990217,steth_bought
0xc653105a6a71247e1a3a83ea511a0d01a4743d2320a3b941683ad7c23cee24e4,2021-02-19 03:16:54,-263.222026,262.442133,-0.022774,0.997037,steth_sold
0x40ef30157e2d6e6503724af25459a53cbf6a48f0ac0ecf3af16ef67dfdd417b5,2021-02-20 04:48:03,271.657558,-270.000000,-0.018344,0.993898,steth_bought

Address: 0x49cae5c4e03196bef2f9984469bd096878043719

            characteristics       values
0  Value of exchange, stETH   251.572598
1   Margin of exchange, ETH     0.039778
2        Gross profit, ETH:    10.007178
3                   APR, %:  4127.581023
4           Fees paid, ETH:    -0.057598
5    Operating profit, ETH:     9.949579
6               Net APR, %:  4103.823898

,DateTime,Value_steth,Value_eth,TxnFee(ETH),steth_price,type_1
Txhash,,,,,,
0x0fb9862cc3fce4100ecbff633fcc5aab9527cef4df56b7bf05b678ec32b640c8,2021-01-24 20:07:57,209.665904,-200.000000,-0.024468,0.953899,steth_bought
0x73d1753e09a209326ffd180a689c396d3703e26d85c8423ef9568b9c6f20f518,2021-01-24 20:11:27,41.906694,-40.000000,-0.014169,0.954501,steth_bought
0xd358e18481d8607506dae1170c6eb1c52cb5807457b5c7d5bf61c9dda7855b18,2021-01-25 04:34:29,-251.572598,250.007178,-0.018961,0.993777,steth_sold

Address: 0x50013c043ea8ed2b5377e38ff5a874dbfd16460b

            characteristics      values
0  Value of exchange, stETH  160.256579
1   Margin of exchange, ETH    0.008277
2        Gross profit, ETH:    1.326468
3                   APR, %:    4.079201
4           Fees paid, ETH:   -0.106349
5    Operating profit, ETH:    1.220119
6               Net APR, %:    3.752152

,DateTime,Value_steth,Value_eth,TxnFee(ETH),steth_price,type_1
Txhash,,,,,,
0xaf078f498be7467f6bcfb31a0f3edcf7914dcf008e6b88e536a327cb91c870cc,2021-01-24 21:37:22,47.250526,-46.000000,-0.009712,0.973534,steth_bought
0x0075a46728941b0f2c77200c5b5033fd5906151b9316ea51abfd8bd5baf9fb67,2021-01-26 05:52:20,-47.252949,47.124238,-0.007727,0.997276,steth_sold
0x2ce163a5f12c7acfaa589c4c100323f510ba6651b276e0f5ddf9b03df4060d9f,2021-02-10 05:37:03,23.104526,-23.000000,-0.013097,0.995476,steth_bought
0x32ed9fef2b007cf503b5293fb2c1ebab37d521be9161f1db3df372d400e47cb2,2021-02-14 19:22:47,-23.119321,23.065859,-0.016418,0.997688,steth_sold
0xe6bd25f69b387ab87a0cdac9cb4bc6a3c4539bfd3188ebf1b764a8f8f8cfe99a,2021-02-18 04:34:37,35.336362,-35.000000,-0.014133,0.990481,steth_bought
0xcdb24b0c8976436f936a395d74f135bffc32dd14d4424ae34424ed70aa4e6d32,2021-02-19 14:50:54,-35.342102,35.313003,-0.022919,0.999177,steth_sold
0xe1344536371e6f5e639ace44164ed150231e3b03507030d94568afa94ea14915,2021-02-21 06:40:32,60.002874,-59.520000,-0.011095,0.991952,steth_bought
0xd735c89cfdb55ad92c8f55c00792646ba2ada63687aa1b17a4443ea0ac10de26,2021-04-08 23:07:28,-54.542206,53.977014,-0.012824,0.989638,steth_sold

Address: 0x1488ec6c55243e7130b756949b0238693c7e382b

            characteristics      values
0  Value of exchange, stETH  137.950000
1   Margin of exchange, ETH    0.005996
2        Gross profit, ETH:    0.827138
3                   APR, %:   51.986251
4           Fees paid, ETH:   -0.024193
5    Operating profit, ETH:    0.802945
6               Net APR, %:   50.465715

,DateTime,Value_steth,Value_eth,TxnFee(ETH),steth_price,type_1
Txhash,,,,,,
0xb36cef7fb8e515fd96c4ac1e51d44c27d590e412c5767a0023f3e12c9d3ff61f,2021-01-22 18:18:57,251.298636,-250.000000,-0.011325,0.994832,steth_bought
0x6ee7637ae0427a4b3d0522f2c14eef548505f94f2a207397fcda7dcb640a16ec,2021-01-24 20:03:29,20.978855,-20.000000,-0.015994,0.953341,steth_bought
0x0820fc2e7ea693d0918e03e5f53b72bd05b54c43216759ed7ae3cd344162f943,2021-01-26 23:21:03,-137.950000,137.623242,-0.010352,0.997631,steth_sold

Address: 0xe1e2a52a21226ba37f28ba6cdf59f20156798f94

            characteristics       values
0  Value of exchange, stETH    99.996506
1   Margin of exchange, ETH     0.001845
2        Gross profit, ETH:     0.184526
3                   APR, %:  1908.002835
4           Fees paid, ETH:    -0.058449
5    Operating profit, ETH:     0.126077
6               Net APR, %:  1303.637825

,DateTime,Value_steth,Value_eth,TxnFee(ETH),steth_price,type_1
Txhash,,,,,,
0x985a6be29aa7775a3725409497f5061fbf607c051bef2e838cd183a3e2eed139,2021-03-08 20:29:28,89.715319,-87.000000,-0.021367,0.969734,steth_bought
0xde5373fc30619d867167d4984b091cd9bdb94b2d61af8a98ceb5823eaf8becc4,2021-03-08 20:48:11,10.285933,-10.000000,-0.016168,0.972202,steth_bought
0x2fdf55803a9b0d092af1a5e0b3dc7dd15a4724b56fdcb6c25bc8be806cb6eeca,2021-03-08 21:20:18,-99.996506,97.179922,-0.020915,0.971833,steth_sold

Address: 0x37ad9f5cb15867156bd75e76b8d9edc40fc077a8

            characteristics     values
0  Value of exchange, stETH  94.463884
1   Margin of exchange, ETH   0.004926
2        Gross profit, ETH:   0.465351
3                   APR, %:  88.558908
4           Fees paid, ETH:  -0.031604
5    Operating profit, ETH:   0.433746
6               Net APR, %:  82.544416

,DateTime,Value_steth,Value_eth,TxnFee(ETH),steth_price,type_1
Txhash,,,,,,
0xdf0eb51e2cef327aaebe5ffb3b909bbd5b1db90f62f02b2f9bdb6287436a8225,2021-02-02 01:54:38,-96.000000,96.001491,-0.017865,1.000016,steth_sold
0x8642ed2ec930131097f020d2a3c4a52a4bf71c4e165d403dc28468b281354e0a,2021-02-04 02:38:22,94.463884,-94.000000,-0.014025,0.995089,steth_bought

Address: 0x0e66cf7a7e7a7f4574670f6c2c9d463e1478a06c

            characteristics      values
0  Value of exchange, stETH   77.197581
1   Margin of exchange, ETH    0.004418
2        Gross profit, ETH:    0.341089
3                   APR, %:  662.443938
4           Fees paid, ETH:   -0.026429
5    Operating profit, ETH:    0.314660
6               Net APR, %:  611.114966

,DateTime,Value_steth,Value_eth,TxnFee(ETH),steth_price,type_1
Txhash,,,,,,
0xd5bf79fbd92482372042556cf41a51eac46611324de7e3260266fe4b8b2a7a0b,2021-01-06 07:33:30,77.197581,-76.000000,-0.014681,0.984487,steth_bought
0x57be0ff581a19e544dde7a920f7e5a7c67c450569e20cd9b292b40767f466ff6,2021-01-06 13:24:04,-77.197581,76.341089,-0.011748,0.988905,steth_sold

Address: 0x116c095dc2b9fd304f5b20ea3a051ac82dd61c3a

            characteristics     values
0  Value of exchange, stETH  53.822042
1   Margin of exchange, ETH   0.011064
2        Gross profit, ETH:   0.595470
3                   APR, %:  48.369889
4           Fees paid, ETH:  -0.046703
5    Operating profit, ETH:   0.548768
6               Net APR, %:  44.576224

,DateTime,Value_steth,Value_eth,TxnFee(ETH),steth_price,type_1
Txhash,,,,,,
0x2f22dc8c4cc0317af13f94d429a2459756bfeb3b575b2c45bd94b800f8a97b4d,2021-01-31 12:58:16,22.463433,-22.200000,-0.013525,0.988273,steth_bought
0x3fdf56e60941adbff5e1527d372c8ff48961d05a8cc16ef5c8fd2cd413b9e23f,2021-01-31 14:21:45,31.358609,-31.000000,-0.017046,0.988564,steth_bought
0x86cfa5de84ca1d8885f36a33cd1480d443b6899a4e9ed98e7259a37c512d7f8b,2021-02-08 21:20:22,-100.319104,100.269577,-0.030069,0.999506,steth_sold

Address: 0xbfb496acb99299e9ece84b3fd1b3fdd0f6cddf49

            characteristics     values
0  Value of exchange, stETH  50.246119
1   Margin of exchange, ETH   0.001436
2        Gross profit, ETH:   0.072170
3                   APR, %:   2.827576
4           Fees paid, ETH:  -0.029139
5    Operating profit, ETH:   0.043031
6               Net APR, %:   1.685930

,DateTime,Value_steth,Value_eth,TxnFee(ETH),steth_price,type_1
Txhash,,,,,,
0x245805669fbb13e6e5d082ba29d645a14a2302c8773694fc868175dc6942930a,2021-01-31 20:29:58,50.292516,-50.000000,-0.010937,0.994184,steth_bought
0xee407efe408325aacda2b2b8fcd892e3260869e57d683eac6aabeaa6f6fbafa3,2021-02-19 09:28:53,-50.246119,50.026042,-0.018212,0.995620,steth_sold

Address: 0x125955cd603650eb3b1c0cf000ab78ad0213ddaf

            characteristics      values
0  Value of exchange, stETH   41.372149
1   Margin of exchange, ETH    0.006272
2        Gross profit, ETH:    0.259499
3                   APR, %:  398.043830
4           Fees paid, ETH:   -0.032990
5    Operating profit, ETH:    0.226509
6               Net APR, %:  347.440159

,DateTime,Value_steth,Value_eth,TxnFee(ETH),steth_price,type_1
Txhash,,,,,,
0xa1525f5719bcba9a7f16c84569a4ef647a83e49b1f4c8551b34f40fc043a9105,2021-01-25 02:43:34,41.372149,-41.000000,-0.013640,0.991005,steth_bought
0x3b8e236a0a1b09072871a4204cac3a1a21411df9f7b264001254fb12fa2e96c0,2021-01-25 16:31:48,-42.947392,42.830453,-0.020087,0.997277,steth_sold

Address: 0xa2d6db7b72e32091e9aa6514a57f8dc94971cbe0

            characteristics      values
0  Value of exchange, stETH   35.349230
1   Margin of exchange, ETH    0.010202
2        Gross profit, ETH:    0.360620
3                   APR, %:  179.124750
4           Fees paid, ETH:   -0.034964
5    Operating profit, ETH:    0.325656
6               Net APR, %:  161.757832

,DateTime,Value_steth,Value_eth,TxnFee(ETH),steth_price,type_1
Txhash,,,,,,
0xd3c7564bba863c0817cba5983e849e5e604b84467c3dd4a738a9c422e96e8691,2021-01-30 20:11:31,35.349230,-35.00000,-0.012785,0.990121,steth_bought
0x9a0f16113c3abdd1c3084a137978351c31e3a49fe312902ffc7a2b8a3c800b06,2021-02-01 22:04:57,-35.354318,35.36571,-0.022182,1.000322,steth_sold

Address: 0xa2e83e57502a89a3af7ceacc195b320f9ad7d64d

            characteristics     values
0  Value of exchange, stETH  33.784535
1   Margin of exchange, ETH   0.003919
2        Gross profit, ETH:   0.132416
3                   APR, %:   9.489434
4           Fees paid, ETH:  -0.032746
5    Operating profit, ETH:   0.099670
6               Net APR, %:   7.142752

,DateTime,Value_steth,Value_eth,TxnFee(ETH),steth_price,type_1
Txhash,,,,,,
0xa929d4dfa55b68e6a8398049f3a78b7a5f3f70cd19104f920871ffa2c5097c74,2021-03-15 02:04:20,33.784535,-33.000000,-0.018072,0.976778,steth_bought
0xeb327c76aa44b5e6008ed9233813105680ee160a8565edbd9040521e04bae56f,2021-03-30 03:53:12,-33.890823,33.236653,-0.014720,0.980698,steth_sold

Address: 0xdd01596074fa8e2a2f84d10d89090ae4543ea20b

            characteristics      values
0  Value of exchange, stETH   30.929725
1   Margin of exchange, ETH    0.002689
2        Gross profit, ETH:    0.083176
3                   APR, %:  217.816008
4           Fees paid, ETH:   -0.035015
5    Operating profit, ETH:    0.048161
6               Net APR, %:  126.121340

,DateTime,Value_steth,Value_eth,TxnFee(ETH),steth_price,type_1
Txhash,,,,,,
0x80ad8b67bb5ee3a3692a1a12a268361d071a22d3196ebc0e1c6f5485dfff581e,2021-03-08 20:31:47,30.931625,-30.000000,-0.019049,0.969881,steth_bought
0x23ee11e5de71b8d938c08d537d636805f452b1f15755d2d94ce58b7c78f2a11d,2021-03-09 07:20:42,-30.929725,30.081334,-0.015967,0.972570,steth_sold

Address: 0x6a77500a141fede525e57e422d65d67a32f2d8fe

            characteristics     values
0  Value of exchange, stETH  20.617515
1   Margin of exchange, ETH   0.013991
2        Gross profit, ETH:   0.288452
3                   APR, %:  18.902538
4           Fees paid, ETH:  -0.024973
5    Operating profit, ETH:   0.263479
6               Net APR, %:  17.266025

,DateTime,Value_steth,Value_eth,TxnFee(ETH),steth_price,type_1
Txhash,,,,,,
0xd14069c938643daf47bd6e57afcd114a97be05f02d2a52a4552bedd4c775e440,2021-02-18 04:35:39,-20.617515,20.412785,-0.014595,0.990070,steth_sold
0xf6f996ae69aca640da15da834ab869c07dde4e44d9b07ee50ed9713bd24b5188,2021-03-17 04:57:41,27.661683,-27.000000,-0.013924,0.976079,steth_bought

Address: 0xe641a99b99b7fe11d6d6b44442a2a37bfd5696e5

            characteristics     values
0  Value of exchange, stETH  20.611042
1   Margin of exchange, ETH   0.025897
2        Gross profit, ETH:   0.533770
3                   APR, %:  53.939999
4           Fees paid, ETH:  -0.012188
5    Operating profit, ETH:   0.521582
6               Net APR, %:  52.708313

,DateTime,Value_steth,Value_eth,TxnFee(ETH),steth_price,type_1
Txhash,,,,,,
0x0de075a9f6077a18c5d8dacc1b0e9a184eb3abdc63caecffab6a1882102b09d8,2021-03-28 09:42:01,20.611042,-20.000000,-0.008676,0.970354,steth_bought
0x9e0ef0ff408004c5c9451e6f66c282ab2cbb1f5fe3f5b17ab0a12172a84341cc,2021-04-14 22:16:45,-70.871092,70.605393,-0.012077,0.996251,steth_sold

Address: 0x805c559b43565505cec1273801d5aab30fb91004

            characteristics     values
0  Value of exchange, stETH  18.854774
1   Margin of exchange, ETH   0.014562
2        Gross profit, ETH:   0.274565
3                   APR, %:  22.469025
4           Fees paid, ETH:  -0.024107
5    Operating profit, ETH:   0.250458
6               Net APR, %:  20.496256

,DateTime,Value_steth,Value_eth,TxnFee(ETH),steth_price,type_1
Txhash,,,,,,
0xdc1f771a412b85c7312dab24e2a4200405e5c65e94fdeb3105eb9d41bef1db5a,2021-02-10 12:08:06,-2522.677692,2498.997023,-0.043713,0.990613,steth_sold
0x1eba06eaf3a408f2916f3d3e6ff82ec07b5154b9cf0bedbb0320a77b065b7a23,2021-02-27 21:06:41,14.307709,-13.950000,-0.012754,0.974999,steth_bought
0xc073c8a5e9040e8f20ab13b2acb69c815f96d38cb9024db96a92006000bda06f,2021-03-02 13:47:25,4.547065,-4.450000,-0.010946,0.978653,steth_bought
0x7362994533f0dfda3d487e833c06941a8561393a6b5f8c0e1aa99b283201f131,2021-03-06 03:52:01,-16.533526,15.945065,-0.011000,0.964408,steth_sold

Address: 0xfe62145b68ae16b59f88c121651a9019f13f3653

            characteristics     values
0  Value of exchange, stETH  16.709098
1   Margin of exchange, ETH   0.011194
2        Gross profit, ETH:   0.187041
3                   APR, %:   9.367825
4           Fees paid, ETH:  -0.081613
5    Operating profit, ETH:   0.105427
6               Net APR, %:   5.280272

,DateTime,Value_steth,Value_eth,TxnFee(ETH),steth_price,type_1
Txhash,,,,,,
0xe048010a65b8a99b20646d2fdf0705d472385ecc8c52871c90b17ca50c2d5d3a,2021-03-10 08:04:28,4.612655,-4.500000,-0.009764,0.975577,steth_bought
0xda4272b6514862960cd0721ec1eedafe4a35ba90465a5e85f530b38ce058826d,2021-03-10 08:09:08,4.612612,-4.500000,-0.009658,0.975586,steth_bought
0x08f72ee2e6df2a433956b91a6f3b3079ffe3e963e503776f042d4e1a246b9023,2021-03-10 08:27:40,-4.730000,4.610831,-0.012468,0.974806,steth_sold
0x3f0141a093109710d87bb61b4ac7ca1aed7a7a02e1d62973f1609293f013ff79,2021-03-10 08:47:36,2.061927,-2.000000,-0.010838,0.969966,steth_bought
0xe341daf448d2c5219c4663c03fff539f7b49790da7971efb75c64f4860523a41,2021-03-13 14:29:25,5.421903,-5.300000,-0.014379,0.977516,steth_bought
0x186b2df63569ee84927043084e1e7602c791a42324ff1d557f6070eec2a493b7,2021-03-14 17:42:21,-1.500000,1.461587,-0.016427,0.974391,steth_sold
0x83d0ce27f57035264a262ba8b8389d91c30a285cde56ef44015a831f15a705cf,2021-04-22 22:50:14,-12.261351,12.173190,-0.012023,0.992810,steth_sold

Address: 0x000ad8f56d3408abe29466189612d1b7b19e4420

            characteristics     values
0  Value of exchange, stETH  15.472488
1   Margin of exchange, ETH   0.021736
2        Gross profit, ETH:   0.336307
3                   APR, %:  11.336835
4           Fees paid, ETH:  -0.051061
5    Operating profit, ETH:   0.285246
6               Net APR, %:   9.615579

,DateTime,Value_steth,Value_eth,TxnFee(ETH),steth_price,type_1
Txhash,,,,,,
0x87f64b1e48c02c9c676f6436bc6e925a2a0fcf7e36782dbf0d8c8aa3174f8aba,2021-01-24 21:28:27,5.148609,-5.000000,-0.010724,0.971136,steth_bought
0x5932d4624ef919eb79c184c84c7e12a0e0986b8e08ea43c231c3f8644fc65332,2021-01-25 08:29:30,-5.148609,5.114416,-0.008698,0.993359,steth_sold
0x145d66f132efa3ac25dc8edfda01cb8d3179751c4feeabc0b8a8f2c04da59ca7,2021-02-10 22:28:49,5.102535,-5.000000,-0.012315,0.979905,steth_bought
0xa3f089f772dec0edd4e223fa2c1f7e68264ae83f2d46f4938a618a3f85b8db4f,2021-03-07 22:07:36,5.221344,-5.000000,-0.007834,0.957608,steth_bought
0xf446a409bf7d734780d8e6c844c88e9942dfb779704bb73f8ad06e57b0b1b96e,2021-04-04 21:00:22,-10.407321,10.304599,-0.011599,0.990130,steth_sold

Address: 0xf44c4ed93f52a61d4c8e441c5b6c579d58d00a02

            characteristics     values
0  Value of exchange, stETH  15.085072
1   Margin of exchange, ETH   0.002570
2        Gross profit, ETH:   0.038776
3                   APR, %:   8.641622
4           Fees paid, ETH:  -0.025445
5    Operating profit, ETH:   0.013330
6               Net APR, %:   2.970825

,DateTime,Value_steth,Value_eth,TxnFee(ETH),steth_price,type_1
Txhash,,,,,,
0xc486aa9ec6f18d8de3683f0a05bdf1a432dd733f5b468b4663829559302c6046,2021-01-31 07:58:58,15.166219,-15.000000,-0.01204,0.989040,steth_bought
0x76a6c5f54917c610a532e19e317ca2fa03a106ca571e6e25eefff16bab151102,2021-02-11 04:33:01,-15.085072,14.958518,-0.01347,0.991611,steth_sold

Address: 0xc50eaaee441566b4ef4f1e3270d19f24223cddf4

            characteristics      values
0  Value of exchange, stETH   10.729360
1   Margin of exchange, ETH    0.007296
2        Gross profit, ETH:    0.078284
3                   APR, %:  227.151115
4           Fees paid, ETH:   -0.012975
5    Operating profit, ETH:    0.065309
6               Net APR, %:  189.502410

,DateTime,Value_steth,Value_eth,TxnFee(ETH),steth_price,type_1
Txhash,,,,,,
0x853b82085f90b3b9025c28afce11e7011d136956c1c52ab51d11c17c8ef273df,2021-01-18 22:08:06,10.729360,-10.500000,-0.006116,0.978623,steth_bought
0xe33f8c104b715c976b1a3a504cd87796d9476ec6704211ea625a9968c4fcae03,2021-01-20 02:16:22,-10.729868,10.578785,-0.006859,0.985919,steth_sold

Address: 0xa40eb69d2adbd34ea73ea1dfd049f825e8216eb0

            characteristics     values
0  Value of exchange, stETH  10.249507
1   Margin of exchange, ETH   0.005764
2        Gross profit, ETH:   0.059078
3                   APR, %:  76.091164
4           Fees paid, ETH:  -0.010599
5    Operating profit, ETH:   0.048479
6               Net APR, %:  62.439861

,DateTime,Value_steth,Value_eth,TxnFee(ETH),steth_price,type_1
Txhash,,,,,,
0x3eef9ff45ac225a085090e2b64e22ced572c7b246cf6ad3df89b93b6c356d080,2021-01-17 05:06:30,10.249507,-10.000000,-0.004488,0.975657,steth_bought
0xadb78bc8ef14ebf3d3ea576a0d63f86d2ec52837083902e1af025f94c2ef7f24,2021-01-19 23:27:58,-10.250000,10.059562,-0.006111,0.981421,steth_sold

Address: 0xa91508dc7a7753ac2420adc2fbd17ce8364810e7

            characteristics     values
0  Value of exchange, stETH   6.103101
1   Margin of exchange, ETH   0.012453
2        Gross profit, ETH:   0.076000
3                   APR, %:  12.174912
4           Fees paid, ETH:  -0.032419
5    Operating profit, ETH:   0.043580
6               Net APR, %:   6.981435

,DateTime,Value_steth,Value_eth,TxnFee(ETH),steth_price,type_1
Txhash,,,,,,
0xd7991ffb709a596d0c38c79f56c70c60931a53dcef9af88f1739e8cdd1118d6a,2021-03-02 23:23:59,2.201905,-2.150000,-0.009785,0.976427,steth_bought
0xa0ab4a70d09a0d8a0688fcb4a0f71911d1d5b30926327dead60baf9569c1443d,2021-03-18 23:43:25,3.901196,-3.800000,-0.012528,0.974060,steth_bought
0x3b384ef18f474b361cd2f47b0195902f91640998cd9fa47e991c41cbbd1a1a3b,2021-03-31 07:48:25,-10.896144,10.692378,-0.019205,0.981299,steth_sold
0x5cf09589f87eaa3988e89f1516f324919bd605936d8cc3b3146be7c7d371d2cd,2021-04-09 07:22:54,-7.554659,7.525335,-0.011348,0.996118,steth_sold

Address: 0xbfb0d8b06ec79d5f2059209221b15644956e8261

            characteristics       values
0  Value of exchange, stETH     6.062991
1   Margin of exchange, ETH     0.000685
2        Gross profit, ETH:     0.004152
3                   APR, %:   646.448300
4           Fees paid, ETH:    -0.020837
5    Operating profit, ETH:    -0.016684
6               Net APR, %: -2597.494008

,DateTime,Value_steth,Value_eth,TxnFee(ETH),steth_price,type_1
Txhash,,,,,,
0xc7b9ad28f5474841f53fd1026a15f8798a17d16c23a5176495f13dddfc18d399,2021-01-25 01:47:59,6.062991,-6.000000,-0.009865,0.989611,steth_bought
0xe2b5fe19462d45d0c86be1b26f386ffb898fe6d3e31ab705b2d1f9d543db0152,2021-01-25 02:43:40,-6.062991,6.004152,-0.010972,0.990295,steth_sold

Address: 0xec5abba31c186a9f2695a66a734f3d3ad6e85313

            characteristics     values
0  Value of exchange, stETH   5.531431
1   Margin of exchange, ETH   0.006192
2        Gross profit, ETH:   0.034250
3                   APR, %:  25.518562
4           Fees paid, ETH:  -0.019428
5    Operating profit, ETH:   0.014822
6               Net APR, %:  11.043313

,DateTime,Value_steth,Value_eth,TxnFee(ETH),steth_price,type_1
Txhash,,,,,,
0x50133a098bbb8ef44723796034c5df04163dd3e5bb07df425677b1f55840cec2,2021-01-06 00:07:19,5.531431,-5.500000,-0.013577,0.994318,steth_bought
0x91160ce2f7fe7ac225168d8cf56b341723152e8f8f769abaef47c85e842c2731,2021-01-14 20:40:37,-5.533973,5.536794,-0.005854,1.000510,steth_sold

Address: 0x8a3fab3e5a3a14bc0e66834715d548e7bc7f6858

            characteristics     values
0  Value of exchange, stETH   5.111160
1   Margin of exchange, ETH   0.006667
2        Gross profit, ETH:   0.034076
3                   APR, %:  74.783253
4           Fees paid, ETH:  -0.011124
5    Operating profit, ETH:   0.022952
6               Net APR, %:  50.370043

,DateTime,Value_steth,Value_eth,TxnFee(ETH),steth_price,type_1
Txhash,,,,,,
0xc12d57573cfee2c3a5543ac3c4a7eebcf50e3cc196f6d83b939429509eb35f65,2021-01-17 10:41:29,5.111160,-5.000000,-0.005259,0.978252,steth_bought
0xe16dd0a2af903ce5ce4dc6c82d63f43667485fdf1f387a044821dc283b00841a,2021-01-20 16:47:13,-10.112428,9.959918,-0.011605,0.984919,steth_sold

Address: 0xd9d41ad0fde1a199a5ecc896fc33806b189c1d0f

            characteristics      values
0  Value of exchange, stETH    5.071858
1   Margin of exchange, ETH    0.002502
2        Gross profit, ETH:    0.012692
3                   APR, %:  102.777894
4           Fees paid, ETH:   -0.031648
5    Operating profit, ETH:   -0.018956
6               Net APR, %: -153.502850

,DateTime,Value_steth,Value_eth,TxnFee(ETH),steth_price,type_1
Txhash,,,,,,
0x3ac6643bf2d67584a07cd005e4da435b0731fd92d336b04119783b6acf9f137c,2021-03-12 23:01:44,5.071858,-4.941315,-0.014067,0.974261,steth_bought
0xeab18bfb7db980878a7c21d5bbeb016ea1bdce3086491724d49df97a73be0777,2021-03-13 20:21:28,-5.072937,4.955060,-0.017585,0.976764,steth_sold

Address: 0xa7c17c833f62fd4c1a099596c9a5dd1d6a28bbdd

            characteristics      values
0  Value of exchange, stETH    5.004115
1   Margin of exchange, ETH    0.000035
2        Gross profit, ETH:    0.000177
3                   APR, %:    1.389405
4           Fees paid, ETH:   -0.017073
5    Operating profit, ETH:   -0.016896
6               Net APR, %: -132.846525

,DateTime,Value_steth,Value_eth,TxnFee(ETH),steth_price,type_1
Txhash,,,,,,
0xcabcca3696eebd0664ae66c1f469700f80dc80787a33e88e74c7d76dcb549330,2021-01-26 19:00:39,5.004115,-5.000000,-0.008314,0.999178,steth_bought
0xd1448141bff6764cef29d36b3a1e955a07a3dd4a4dca57875bed90ff33e86867,2021-01-27 17:16:33,-5.004571,5.000632,-0.008760,0.999213,steth_sold

Address: 0x8f8c16f94f3fdecaaf66ce4a5b5b14715c4ac579

            characteristics    values
0  Value of exchange, stETH  3.043306
1   Margin of exchange, ETH  0.005701
2        Gross profit, ETH:  0.017349
3                   APR, %:  2.509331
4           Fees paid, ETH: -0.038977
5    Operating profit, ETH: -0.021629
6               Net APR, %: -3.128424

,DateTime,Value_steth,Value_eth,TxnFee(ETH),steth_price,type_1
Txhash,,,,,,
0xbec01e6c6a746c2176d4df9e78a3d8df084b9393e724dc8d0710100ee21b6a22,2021-01-20 15:14:33,0.000101,-0.000100,-0.010403,0.985794,steth_bought
0x609dd736c865d9602f5d83e116a71d466d56927aa066612b073b04e3be414c9c,2021-01-20 15:19:32,3.043205,-3.000000,-0.009343,0.985803,steth_bought
0xccca548fa7d4217cfebb8f10408671a5a9c6789a61227d3df0b7e074e6f99c20,2021-01-20 15:41:27,-1.020000,1.004720,-0.007020,0.985020,steth_sold
0x3079b129caf8453e1d8da567e96ffaa1f3bdf9c3ee974ad4d95f0d9db7b7e870,2021-02-10 12:29:46,-2.030125,2.003893,-0.014966,0.987079,steth_sold
0x097498cda62181b96f0969dfe3165b0013e086fb60ddc66d44d0a983ec2971f2,2021-04-13 13:17:41,-2.024735,2.023128,-0.010084,0.999206,steth_sold

Address: 0x04ada96a5c5a1fdf7e315f14aeb2ce9eb61efb5e

            characteristics     values
0  Value of exchange, stETH   3.007116
1   Margin of exchange, ETH   0.004450
2        Gross profit, ETH:   0.013383
3                   APR, %:   8.793686
4           Fees paid, ETH:  -0.032704
5    Operating profit, ETH:  -0.019322
6               Net APR, %: -12.696205

,DateTime,Value_steth,Value_eth,TxnFee(ETH),steth_price,type_1
Txhash,,,,,,
0x7a9d15205b08b48fdc6f460ba7878a251c4dddd2dbec6e2fdb96a7679b624848,2021-01-12 05:42:44,3.006929,-3.00000,-0.008782,0.997696,steth_bought
0x23c469f75100c11aa53207b49bacf434bc68e991bc2f670ad5dff54c7a2c3a98,2021-01-12 17:48:17,-3.007116,3.00321,-0.010113,0.998701,steth_sold
0xc424572b73890ecbcd9f7c07cb991dacbdca8a87f10d2be0042ee95869c14448,2021-01-30 17:02:17,1.519092,-1.50000,-0.025220,0.987432,steth_bought

Address: 0x7be31c2398680102e4140ccc057445c86c70b433

            characteristics    values
0  Value of exchange, stETH  2.600000
1   Margin of exchange, ETH  0.006696
2        Gross profit, ETH:  0.017411
3                   APR, %:  4.796660
4           Fees paid, ETH: -0.011655
5    Operating profit, ETH:  0.005756
6               Net APR, %:  1.585724

,DateTime,Value_steth,Value_eth,TxnFee(ETH),steth_price,type_1
Txhash,,,,,,
0x88791828d2860414aacb7321bcadf8cbc54cec5f8f7516bd10c6eafa1188ac2e,2021-02-20 22:28:21,100.731968,-100.000000,-0.017992,0.992734,steth_bought
0x53d3167cf80f368b7246e2c2d222205ac9c73515e369a34559b015886adcf113,2021-02-20 23:36:48,50.354043,-50.000000,-0.015830,0.992969,steth_bought
0x227d5bcdbb50bd49570a3fed7bf0dc2cee20d260cd88f2865c7f10776e8a7a78,2021-04-12 21:25:40,-2.600000,2.598722,-0.011073,0.999508,steth_sold

Address: 0x11f262d4154f7860da5e4f595778087eb7434bce

            characteristics     values
0  Value of exchange, stETH   2.565703
1   Margin of exchange, ETH   0.026528
2        Gross profit, ETH:   0.068063
3                   APR, %:  18.176711
4           Fees paid, ETH:  -0.014914
5    Operating profit, ETH:   0.053149
6               Net APR, %:  14.193866

,DateTime,Value_steth,Value_eth,TxnFee(ETH),steth_price,type_1
Txhash,,,,,,
0xaf11c95415411270153761647ed54c44566eea38e7a31ae02d4901502368908c,2021-01-09 16:09:02,-4.958851,4.963412,-0.012267,1.000920,steth_sold
0xfec105642700866a6c99fab9e2c525203a3fcdb5c3c56ebc2ef49a7b6b42b122,2021-03-03 22:37:23,2.565703,-2.500000,-0.008567,0.974392,steth_bought

Address: 0xfaf16f5fd569ca0a22fd6a90cbd84bb18f5e2882

            characteristics        values
0  Value of exchange, stETH      1.921995
1   Margin of exchange, ETH      0.001133
2        Gross profit, ETH:      0.002178
3                   APR, %:   1330.538802
4           Fees paid, ETH:     -0.026951
5    Operating profit, ETH:     -0.024772
6               Net APR, %: -15132.742280

,DateTime,Value_steth,Value_eth,TxnFee(ETH),steth_price,type_1
Txhash,,,,,,
0xd8ec305d04f9ce20a5aa5d22e6a10d9140fdf0b1a0e70bcb84e35da25c3a7ed3,2021-01-31 14:15:03,1.921995,-1.900000,-0.015726,0.988556,steth_bought
0x7a4462cb8f907446cafaaceff183edf5dc362b7c76b222df26d2aea27d743ebb,2021-01-31 14:59:49,-1.921995,1.902178,-0.011225,0.989690,steth_sold

Address: 0x52b84469dbf38fe5edeb79a5171ea101a3e0b1a9

            characteristics     values
0  Value of exchange, stETH   1.591186
1   Margin of exchange, ETH   0.007531
2        Gross profit, ETH:   0.011983
3                   APR, %:  20.596076
4           Fees paid, ETH:  -0.021275
5    Operating profit, ETH:  -0.009292
6               Net APR, %: -15.969771

,DateTime,Value_steth,Value_eth,TxnFee(ETH),steth_price,type_1
Txhash,,,,,,
0xc88b0f5c002229d06aff98be3adaf3a735ce11d449e16c0744c2534c09ba8b1e,2021-01-28 17:54:06,-1.591186,1.592487,-0.017865,1.000817,steth_sold
0x75ea39912d0518f2930f086db9f9f1c40f235e597c810e03d69f4e77fcd96096,2021-02-11 02:12:53,8.154748,-8.100000,-0.017473,0.993286,steth_bought

Address: 0x190256bcd568768866ed408f2c25cf9404366fd6

            characteristics     values
0  Value of exchange, stETH   1.514894
1   Margin of exchange, ETH   0.010119
2        Gross profit, ETH:   0.015329
3                   APR, %:  57.440649
4           Fees paid, ETH:  -0.036423
5    Operating profit, ETH:  -0.021094
6               Net APR, %: -79.045139

,DateTime,Value_steth,Value_eth,TxnFee(ETH),steth_price,type_1
Txhash,,,,,,
0x278aa2cadfcf0d2479a8c7266d98cbe0b4404116e0dc697e70c1265fe9cc3de7,2021-01-31 06:07:48,1.514894,-1.500000,-0.012900,0.990168,steth_bought
0xe51adb0388b3a72eb6ca172e028eebd4363a138ee186c083ac7c850c48ce93ab,2021-02-06 16:26:48,-1.539347,1.539789,-0.023903,1.000287,steth_sold

Address: 0xe3a06afb8ca6c10043af9921d293ef55c4c98ddb

            characteristics      values
0  Value of exchange, stETH    1.209258
1   Margin of exchange, ETH    0.006165
2        Gross profit, ETH:    0.007455
3                   APR, %:  102.718853
4           Fees paid, ETH:   -0.038254
5    Operating profit, ETH:   -0.030799
6               Net APR, %: -424.378006

,DateTime,Value_steth,Value_eth,TxnFee(ETH),steth_price,type_1
Txhash,,,,,,
0x5ae6030c8b5c804691bbc65d88bfe53d4af4d607715a89cdb2dad05fc3e841cd,2021-02-12 04:53:59,1.209258,-1.200000,-0.012741,0.992344,steth_bought
0x3db671223042a21e80435ae8e54e3064c184af137eea01a6b851822967504aa9,2021-02-13 01:24:13,-0.086269,0.086266,-0.015155,0.999961,steth_sold
0x4d3e0fa4500a58ba66ea2e79c07457bb20d13e78db48ac16f822aad6345d6295,2021-02-14 09:28:27,-1.192654,1.190750,-0.011828,0.998404,steth_sold

Address: 0x742dd993a78d7fb4a4bfc777a36999c041dac46f

            characteristics      values
0  Value of exchange, stETH    1.027527
1   Margin of exchange, ETH    0.000066
2        Gross profit, ETH:    0.000067
3                   APR, %:    0.240263
4           Fees paid, ETH:   -0.029001
5    Operating profit, ETH:   -0.028934
6               Net APR, %: -103.082036

,DateTime,Value_steth,Value_eth,TxnFee(ETH),steth_price,type_1
Txhash,,,,,,
0xe17552add486fd97260cfba2284e3d9cd215997817c63bddc5a9152b467678f6,2021-03-08 23:04:37,1.027527,-1.000000,-0.012231,0.973211,steth_bought
0x42cfd1055d38214fed0f9e40fe8694d0ccc2c7d76eee27c66ab7c234568cd6ba,2021-03-18 22:22:20,-1.029559,1.002046,-0.016804,0.973277,steth_sold

Address: 0x6dab66cd8ccca835fe103585eea869d911b51fbc

            characteristics      values
0  Value of exchange, stETH    1.010304
1   Margin of exchange, ETH    0.009894
2        Gross profit, ETH:    0.009996
3                   APR, %:   86.488656
4           Fees paid, ETH:   -0.033466
5    Operating profit, ETH:   -0.023470
6               Net APR, %: -203.067842

,DateTime,Value_steth,Value_eth,TxnFee(ETH),steth_price,type_1
Txhash,,,,,,
0x669f2ad32faabee019cc98d4248146e0161b9a0d69d9ce092c74952b6bf7d7fa,2021-03-25 02:55:21,1.038181,-1.000000,-0.022340,0.963223,steth_bought
0xa656340fdfbc44b49dd7adf7582b953034815e747957250fa317eda0a1d032f1,2021-03-26 06:09:51,0.517324,-0.500000,-0.010945,0.966511,steth_bought
0xd541329b397b02638ca41e130b20b3bdfb92069c64cd5d685a9348b6bb1b6b26,2021-03-29 07:08:02,-1.010304,0.984249,-0.011847,0.974211,steth_sold

Address: 0x13722725d7ed86b99d5f7fe5cb4226b6e42e7d41

            characteristics      values
0  Value of exchange, stETH    1.008065
1   Margin of exchange, ETH    0.002450
2        Gross profit, ETH:    0.002470
3                   APR, %:   15.394931
4           Fees paid, ETH:   -0.053073
5    Operating profit, ETH:   -0.050603
6               Net APR, %: -315.441101

,DateTime,Value_steth,Value_eth,TxnFee(ETH),steth_price,type_1
Txhash,,,,,,
0xe9eb92080cd9c233d36e9eb9b151a2457a07e7eed25eb786c64f40db13daba91,2021-02-12 01:01:12,1.008065,-1.000000,-0.024572,0.991999,steth_bought
0x0548e641872336dd2dc7d83a287c82caed1a1bab1686b4435b0257b4ef94f9c2,2021-02-17 20:25:27,-1.020088,1.014426,-0.028841,0.994449,steth_sold

Address: 0x7fce563e9f39ab7dfbd61978f10037cc32a95a4d

            characteristics     values
0  Value of exchange, stETH   1.003582
1   Margin of exchange, ETH   0.000948
2        Gross profit, ETH:   0.000951
3                   APR, %:   5.964347
4           Fees paid, ETH:  -0.013800
5    Operating profit, ETH:  -0.012849
6               Net APR, %: -80.547008

,DateTime,Value_steth,Value_eth,TxnFee(ETH),steth_price,type_1
Txhash,,,,,,
0x9edc7e7afd867b0e0a4e22667ec95ed1be3639203c4a9583f8566b0ee410e498,2021-01-21 04:21:37,1.003582,-1.000000,-0.006143,0.996431,steth_bought
0xdda17995451d1779a94110f4fb0b414560d84e0c87d6345752b4562a90b39e65,2021-01-26 23:35:53,-1.017369,1.014702,-0.007762,0.997379,steth_sold

Address: 0x602fb13d330c123d365d3a2a9f4a0237a7cb2186

            characteristics      values
0  Value of exchange, stETH    0.801436
1   Margin of exchange, ETH    0.000023
2        Gross profit, ETH:    0.000018
3                   APR, %:    0.179880
4           Fees paid, ETH:   -0.024199
5    Operating profit, ETH:   -0.024181
6               Net APR, %: -236.327815

,DateTime,Value_steth,Value_eth,TxnFee(ETH),steth_price,type_1
Txhash,,,,,,
0x008625aeac23f802a4cc3bfeaf6b856b2700c9a644fb3ac440825742402df96d,2021-02-12 19:47:44,0.801436,-0.80000,-0.013808,0.998208,steth_bought
0xbfb8e7ec4f240afcdac3f503aa006dead8c81720dd051be7cb8e978907772982,2021-02-17 11:38:01,-0.815663,0.81422,-0.010576,0.998231,steth_sold

Address: 0x8e404efc9633eb87615c7fa25f05378d8eee5cf8

            characteristics      values
0  Value of exchange, stETH    0.202010
1   Margin of exchange, ETH    0.009716
2        Gross profit, ETH:    0.001963
3                   APR, %:   55.999920
4           Fees paid, ETH:   -0.023010
5    Operating profit, ETH:   -0.021047
6               Net APR, %: -600.503798

,DateTime,Value_steth,Value_eth,TxnFee(ETH),steth_price,type_1
Txhash,,,,,,
0x332dd01de4b227a080539118865f947a3d8b5eb4c6d26d26df1c707a7203843c,2021-01-30 19:45:58,0.20201,-0.200000,-0.010247,0.990050,steth_bought
0x406bac265a729646cd1a3c0cc2227d3c3b565620b047ae6b525966c75d7c09a4,2021-02-06 03:45:09,-0.30227,0.302199,-0.019098,0.999766,steth_sold

Address: 0x020910026b5ac7b333e84de5458b64a9e52030d7

            characteristics        values
0  Value of exchange, stETH      0.013367
1   Margin of exchange, ETH      0.010287
2        Gross profit, ETH:      0.000138
3                   APR, %:    279.228902
4           Fees paid, ETH:     -0.047808
5    Operating profit, ETH:     -0.047670
6               Net APR, %: -96800.800636

,DateTime,Value_steth,Value_eth,TxnFee(ETH),steth_price,type_1
Txhash,,,,,,
0x6c1c5980d22fe04ef6a455a5e93bc078fb2b0b8f0cc7505f8c070a7a03e951db,2021-03-07 08:32:33,0.013367,-0.012811,-0.012108,0.958389,steth_bought
0xaba81e53c70990e743967bb81e55c6898a8360f1ca151f6016a9c0ced31ff2b8,2021-03-08 16:46:57,-0.000103,0.000100,-0.019410,0.968676,steth_sold
0x24c71dbcdb0303282cc18265117ba638e04d4f6258d98c143227221569deecd3,2021-03-08 16:48:53,-0.013270,0.012854,-0.016304,0.968676,steth_sold

Address: 0x7e58a5a589986aa3de2f29ee443b6dd1096c1901

            characteristics        values
0  Value of exchange, stETH  1.000000e-04
1   Margin of exchange, ETH  3.412879e-03
2        Gross profit, ETH:  3.412879e-07
3                   APR, %:  6.896127e+01
4           Fees paid, ETH: -7.385952e-03
5    Operating profit, ETH: -7.385611e-03
6               Net APR, %: -1.492350e+06

,DateTime,Value_steth,Value_eth,TxnFee(ETH),steth_price,type_1
Txhash,,,,,,
0x13cf3f72b79aa6e1b886eb7de44deb374cd65f47c5ff681fc34cbca9e9b10a4e,2021-01-22 20:26:07,0.502449,-0.5000,-0.008491,0.995126,steth_bought
0xba0a131732f6ce5ee89142ca0a558953935a2fe100dabdc506c4317f0293d130,2021-01-22 22:20:52,0.602852,-0.6000,-0.007760,0.995270,steth_bought
0x02ec6bf121aaf7b6664468b47d1bda4f41aa00dddb58185f7b33155d2999f101,2021-01-24 15:47:18,-0.000100,0.0001,-0.007384,0.998617,steth_sold

In [6]:
# briefly for Notion
for address in dic_sort_by_value_of_exchange_leaders.keys():
    print('Address:', address)
    display(dic_resume_all.get(address))
    print()
    print()
    print()

Address: 0x40d227723d66eb5d5cb1dff427c51a49d0b9957e

            characteristics       values
0  Value of exchange, stETH  1590.818500
1   Margin of exchange, ETH     0.005491
2        Gross profit, ETH:     8.734513
3                   APR, %:     7.645423
4           Fees paid, ETH:    -0.324218
5    Operating profit, ETH:     8.410295
6               Net APR, %:     7.361631

Address: 0x0eb4add4ba497357546da7f5d12d39587ca24606

            characteristics       values
0  Value of exchange, stETH  1029.729159
1   Margin of exchange, ETH     0.027573
2        Gross profit, ETH:    28.392890
3                   APR, %:    28.076531
4           Fees paid, ETH:    -0.038585
5    Operating profit, ETH:    28.354306
6               Net APR, %:    28.038376

Address: 0x49cae5c4e03196bef2f9984469bd096878043719

            characteristics       values
0  Value of exchange, stETH   251.572598
1   Margin of exchange, ETH     0.039778
2        Gross profit, ETH:    10.007178
3                   APR, %:  4127.581023
4           Fees paid, ETH:    -0.057598
5    Operating profit, ETH:     9.949579
6               Net APR, %:  4103.823898

Address: 0x50013c043ea8ed2b5377e38ff5a874dbfd16460b

            characteristics      values
0  Value of exchange, stETH  160.256579
1   Margin of exchange, ETH    0.008277
2        Gross profit, ETH:    1.326468
3                   APR, %:    4.079201
4           Fees paid, ETH:   -0.106349
5    Operating profit, ETH:    1.220119
6               Net APR, %:    3.752152

Address: 0x1488ec6c55243e7130b756949b0238693c7e382b

            characteristics      values
0  Value of exchange, stETH  137.950000
1   Margin of exchange, ETH    0.005996
2        Gross profit, ETH:    0.827138
3                   APR, %:   51.986251
4           Fees paid, ETH:   -0.024193
5    Operating profit, ETH:    0.802945
6               Net APR, %:   50.465715

Address: 0xe641a99b99b7fe11d6d6b44442a2a37bfd5696e5

            characteristics     values
0  Value of exchange, stETH  20.611042
1   Margin of exchange, ETH   0.025897
2        Gross profit, ETH:   0.533770
3                   APR, %:  53.939999
4           Fees paid, ETH:  -0.012188
5    Operating profit, ETH:   0.521582
6               Net APR, %:  52.708313

Address: 0xfe62145b68ae16b59f88c121651a9019f13f3653

            characteristics     values
0  Value of exchange, stETH  16.709098
1   Margin of exchange, ETH   0.011194
2        Gross profit, ETH:   0.187041
3                   APR, %:   9.367825
4           Fees paid, ETH:  -0.081613
5    Operating profit, ETH:   0.105427
6               Net APR, %:   5.280272

Address: 0x000ad8f56d3408abe29466189612d1b7b19e4420

            characteristics     values
0  Value of exchange, stETH  15.472488
1   Margin of exchange, ETH   0.021736
2        Gross profit, ETH:   0.336307
3                   APR, %:  11.336835
4           Fees paid, ETH:  -0.051061
5    Operating profit, ETH:   0.285246
6               Net APR, %:   9.615579

Address: 0xa91508dc7a7753ac2420adc2fbd17ce8364810e7

            characteristics     values
0  Value of exchange, stETH   6.103101
1   Margin of exchange, ETH   0.012453
2        Gross profit, ETH:   0.076000
3                   APR, %:  12.174912
4           Fees paid, ETH:  -0.032419
5    Operating profit, ETH:   0.043580
6               Net APR, %:   6.981435

Address: 0x11f262d4154f7860da5e4f595778087eb7434bce

            characteristics     values
0  Value of exchange, stETH   2.565703
1   Margin of exchange, ETH   0.026528
2        Gross profit, ETH:   0.068063
3                   APR, %:  18.176711
4           Fees paid, ETH:  -0.014914
5    Operating profit, ETH:   0.053149
6               Net APR, %:  14.193866