In [1]:
import pandas as pd
import matplotlib.pyplot as plt
#pd.options.display.float_format = '{:,.2f}'.format

In [2]:
file_name_1 = 'C:/temp/export-address-token-0xdc24316b9ae028f1497c275eb9192a3ea0f67022_1.csv'
file_name_2 = 'C:/temp/export-address-token-0xdc24316b9ae028f1497c275eb9192a3ea0f67022_2.csv'
df_1 = pd.read_csv(file_name_1)  
df_2 = pd.read_csv(file_name_2) 
df_steth= pd.concat([df_1, df_2],ignore_index=True)

df_steth['Value'] = pd.to_numeric(df_steth['Value'].str.replace(',', ''))
df_steth.info()


file_name_3 = 'C:/temp/export-0xdc24316b9ae028f1497c275eb9192a3ea0f67022_1.csv'
file_name_4 = 'C:/temp/export-0xdc24316b9ae028f1497c275eb9192a3ea0f67022_2.csv'
df_3 = pd.read_csv(file_name_3)  
df_4 = pd.read_csv(file_name_4) 
df_internal= pd.concat([df_3, df_4],ignore_index=True)
df_internal = df_internal[df_internal['ErrCode']!='Out of gas']
df_internal.info()

file_name_5 = 'C:/temp/export-0xdc24316b9ae028f1497c275eb9192a3ea0f67022_withnotes_1.csv'
file_name_6 = 'C:/temp/export-0xdc24316b9ae028f1497c275eb9192a3ea0f67022_withnotes_2.csv'
df_5 = pd.read_csv(file_name_5)  
df_6 = pd.read_csv(file_name_6) 
df_trans= pd.concat([df_5, df_6],ignore_index=True)
df_trans = df_trans[df_trans['ErrCode']!='Out of gas']
df_trans.info()

file_name_7 = 'C:/temp/export-token-0x06325440d014e39736583c165c2963ba99faf14e_1.csv'
file_name_8 = 'C:/temp/export-token-0x06325440d014e39736583c165c2963ba99faf14e_2.csv'
df_7 = pd.read_csv(file_name_7)  
df_8 = pd.read_csv(file_name_8) 
df_stecrv= pd.concat([df_7, df_8],ignore_index=True)
df_stecrv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5568 entries, 0 to 5567
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Txhash           5568 non-null   object
 1   UnixTimestamp    5568 non-null   int64
 2   DateTime         5568 non-null   object
 3   From             5568 non-null   object
 4   To               5568 non-null   object
 5   Value            5568 non-null   float64
 6   ContractAddress  5568 non-null   object
 7   TokenName        5568 non-null   object
 8   TokenSymbol      5568 non-null   object
dtypes: float64(1), int64(1), object(7)
memory usage: 391.6+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5935 entries, 0 to 5934
Data columns (total 19 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Txhash                       5935 non-null   object
 1   Blockno                      5935 non-null   int64
 2   UnixTimestamp                5935 non-null   int64
 3   DateTime                     5935 non-null   object
 4   ParentTxFrom                 5935 non-null   object
 5   ParentTxTo                   5935 non-null   object
 6   ParentTxETH_Value            5935 non-null   float64
 7   From                         5935 non-null   object
 8   TxTo                         5935 non-null   object
 9   ContractAddress              0 non-null      float64
 10  Value_IN(ETH)                5935 non-null   float64
 11  Value_OUT(ETH)               5935 non-null   float64
 12  CurrentValue @ $2240.29/Eth  3425 non-null   float64
 13  Historical $Price/Eth        5935 non-null   float64
 14  Status                       5935 non-null   int64
 15  ErrCode                      7 non-null      object
 16  Type                         5935 non-null   object
 17  PrivateNote                  0 non-null      float64
 18  CurrentValue @ $2240.12/Eth  2510 non-null   float64
dtypes: float64(8), int64(3), object(8)
memory usage: 927.3+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 6485 entries, 0 to 6494
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Txhash                       6485 non-null   object
 1   Blockno                      6485 non-null   int64
 2   UnixTimestamp                6485 non-null   int64
 3   DateTime                     6485 non-null   object
 4   From                         6485 non-null   object
 5   To                           6484 non-null   object
 6   ContractAddress              1 non-null      object
 7   Value_IN(ETH)                6485 non-null   float64
 8   Value_OUT(ETH)               6485 non-null   int64
 9   CurrentValue @ $2287.5/Eth   4414 non-null   float64
 10  TxnFee(ETH)                  6485 non-null   float64
 11  TxnFee(USD)                  6485 non-null   float64
 12  Historical $Price/Eth        6472 non-null   float64
 13  Status                       116 non-null    object
 14  ErrCode                      116 non-null    object
 15  PrivateNote                  0 non-null      float64
 16  CurrentValue @ $2279.77/Eth  2071 non-null   float64
dtypes: float64(7), int64(3), object(7)
memory usage: 912.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6473 entries, 0 to 6472
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Txhash         6473 non-null   object
 1   Blockno        6473 non-null   int64
 2   UnixTimestamp  6473 non-null   int64
 3   DateTime       6473 non-null   object
 4   From           6473 non-null   object
 5   To             6473 non-null   object
 6   Quantity       6473 non-null   float64
dtypes: float64(1), int64(2), object(4)
memory usage: 354.1+ KB

In [3]:
# steth sold
adr_sold_steth = df_steth[df_steth['From']!='0xdc24316b9ae028f1497c275eb9192a3ea0f67022'][['Txhash','DateTime','From','Value']] 
adr_sold_steth.columns = ['Txhash','DateTime','Address','Value_steth']
adr_sold_steth['Value_steth'] = adr_sold_steth['Value_steth']*(-1)

# steth bought
adr_bought_steth = df_steth[df_steth['To']!='0xdc24316b9ae028f1497c275eb9192a3ea0f67022'][['Txhash','DateTime','To','Value']] 
adr_bought_steth.columns = ['Txhash','DateTime','Address','Value_steth']

# steth turnover
adr_steth= pd.concat([adr_bought_steth, adr_sold_steth],ignore_index=True).sort_values(by='DateTime') 
adr_list = adr_steth['Txhash'].unique().tolist()

# eth bought (when steth sold)
adr_bought_eth  = df_internal.query('Txhash in @adr_list')[['Txhash', 'DateTime','TxTo','Value_OUT(ETH)']]
adr_bought_eth.columns = ['Txhash','DateTime','Address','Value_eth']

# eth sold (when steth bought)
adr_sold_eth = df_trans.query('Txhash in @adr_list')[['Txhash', 'DateTime','From','Value_IN(ETH)']]
adr_sold_eth.columns = ['Txhash','DateTime','Address','Value_eth']
adr_sold_eth['Value_eth'] = adr_sold_eth['Value_eth']*(-1)

# eth turnover
adr_eth= pd.concat([adr_bought_eth, adr_sold_eth],ignore_index=True).sort_values(by='DateTime') 
adr_eth = adr_eth.pivot_table(index = ['Txhash','DateTime','Address'], values = 'Value_eth', aggfunc='sum').reset_index()

# sterth + eth turnover together
adr_steth_eth = pd.merge(adr_steth,adr_eth, on = ['Txhash','DateTime','Address'])

# check add/remove liqiudity
adr_stecrv_add = df_stecrv.query('Txhash in @adr_list')[df_stecrv.query('Txhash in @adr_list')['From'] == '0x0000000000000000000000000000000000000000'][['Txhash', 'DateTime', 'To','Quantity']]
adr_stecrv_add.columns = ['Txhash','DateTime','Address','Value_stecrv']
adr_stecrv_remove = df_stecrv.query('Txhash in @adr_list')[df_stecrv.query('Txhash in @adr_list')['To'] == '0x0000000000000000000000000000000000000000'][['Txhash', 'DateTime','From','Quantity']]
adr_stecrv_remove['Quantity']=adr_stecrv_remove['Quantity'] *(-1)
adr_stecrv_remove.columns = ['Txhash','DateTime','Address','Value_stecrv']
adr_stecrv= pd.concat([adr_stecrv_add, adr_stecrv_remove],ignore_index=True).sort_values(by='DateTime') 

adr_full = pd.merge(adr_steth_eth,adr_stecrv, on = ['Txhash','DateTime','Address'], how='left')
adr_full['steth_price']=adr_full['Value_eth']/adr_full['Value_steth']*(-1)
result1=[]
result2=[]
for row in adr_full[['Value_steth','Value_eth', 'Value_stecrv']].to_numpy():
    if row[2]>0:
        result1.append('add_liquidity')
        result2.append('liquidity')
    elif row[2]<0:
        result1.append('remove_liquidity')
        result2.append('liquidity')
    elif row[0] >0 and row[1] < 0:
        result1.append('steth_bought') 
        result2.append('exchange')
    elif row[0] <0 and row[1] > 0:
        result1.append('steth_sold')
        result2.append('exchange')
    else:
        result1.append('tbd')
        result2.append('tbd')
adr_full['type_1'] =  result1 
adr_full['type_0'] =  result2 

list_sold = adr_full[adr_full['type_1']=='steth_sold']['Address'].unique().tolist()
list_bought = adr_full[adr_full['type_1']=='steth_bought']['Address'].unique().tolist()
list_ex = (set(list_sold)&set(list_bought))


adr_ex=adr_full.query('Address in @list_ex')

list_txhash_ex = adr_ex['Txhash'].tolist()
df_trans.query('Txhash in @list_txhash_ex')[['Txhash','TxnFee(ETH)']]
adr_full_ex = pd.merge(adr_ex,df_trans.query('Txhash in @list_txhash_ex')[['Txhash','TxnFee(ETH)']], on = 'Txhash')
adr_full_ex['TxnFee(ETH)'] = adr_full_ex['TxnFee(ETH)'] *(-1)
adr_full_ex.sort_values(by = ['Address','DateTime'])

,Txhash,DateTime,Address,Value_steth,Value_eth,Value_stecrv,steth_price,type_1,type_0,TxnFee(ETH)
133,0x87f64b1e48c02c9c676f6436bc6e925a2a0fcf7e3678...,2021-01-24 21:28:27,0x000ad8f56d3408abe29466189612d1b7b19e4420,5.148609,-5.000000,NaN,0.971136,steth_bought,exchange,-0.010724
144,0x5932d4624ef919eb79c184c84c7e12a0e0986b8e08ea...,2021-01-25 08:29:30,0x000ad8f56d3408abe29466189612d1b7b19e4420,-5.148609,5.114416,NaN,0.993359,steth_sold,exchange,-0.008698
251,0x145d66f132efa3ac25dc8edfda01cb8d3179751c4fee...,2021-02-10 22:28:49,0x000ad8f56d3408abe29466189612d1b7b19e4420,5.102535,-5.000000,NaN,0.979905,steth_bought,exchange,-0.012315
381,0xa3f089f772dec0edd4e223fa2c1f7e68264ae83f2d46...,2021-03-07 22:07:36,0x000ad8f56d3408abe29466189612d1b7b19e4420,5.221344,-5.000000,NaN,0.957608,steth_bought,exchange,-0.007834
448,0xf446a409bf7d734780d8e6c844c88e9942dfb779704b...,2021-04-04 21:00:22,0x000ad8f56d3408abe29466189612d1b7b19e4420,-10.407321,10.304599,NaN,0.990130,steth_sold,exchange,-0.011599
...,...,...,...,...,...,...,...,...,...,...
411,0xe341daf448d2c5219c4663c03fff539f7b49790da797...,2021-03-13 14:29:25,0xfe62145b68ae16b59f88c121651a9019f13f3653,5.421903,-5.300000,NaN,0.977516,steth_bought,exchange,-0.014379
413,0x186b2df63569ee84927043084e1e7602c791a42324ff...,2021-03-14 17:42:21,0xfe62145b68ae16b59f88c121651a9019f13f3653,-1.500000,1.461587,NaN,0.974391,steth_sold,exchange,-0.016427
475,0x83d0ce27f57035264a262ba8b8389d91c30a285cde56...,2021-04-22 22:50:14,0xfe62145b68ae16b59f88c121651a9019f13f3653,-12.261351,12.173190,NaN,0.992810,steth_sold,exchange,-0.012023
457,0x7c796c3ef9ee2422904f93f404d8846671318d839c9c...,2021-04-11 03:30:49,0xfee026defeda09cabc2675da52c0c16001651488,1.404833,-1.400000,NaN,0.996559,steth_bought,exchange,-0.011073
458,0x903346397701b69356c3210bae6b25d3520b536cb17e...,2021-04-11 04:00:42,0xfee026defeda09cabc2675da52c0c16001651488,-1.394833,1.388706,NaN,0.995607,steth_sold,exchange,-0.012347

In [4]:
dic_resume_all = {}
list_resume_arbing = []
dic_trans = {}
list_resume_arbing_leaders = []
for address in list_ex:
    type_adr = 'exchange'
    df_adr_arb =adr_full_ex.query('Address == @address and type_0 == @type_adr')
    margin = abs(df_adr_arb[df_adr_arb['type_1']=='steth_sold']['Value_eth'].sum()/df_adr_arb[df_adr_arb['type_1']=='steth_sold']['Value_steth'].sum()) - abs(df_adr_arb[df_adr_arb['type_1']=='steth_bought']['Value_eth'].sum()/df_adr_arb[df_adr_arb['type_1']=='steth_bought']['Value_steth'].sum())
    value_steth_for_calc = min(abs(df_adr_arb[df_adr_arb['type_1']=='steth_sold']['Value_steth'].sum()),abs(df_adr_arb[df_adr_arb['type_1']=='steth_bought']['Value_steth'].sum()))
    gross_profit = value_steth_for_calc*margin
    fees_paid = df_adr_arb[df_adr_arb['type_1']=='steth_sold']['TxnFee(ETH)'].sum()*value_steth_for_calc/abs(df_adr_arb[df_adr_arb['type_1']=='steth_sold']['Value_steth'].sum()) + df_adr_arb[df_adr_arb['type_1']=='steth_bought']['TxnFee(ETH)'].sum()*value_steth_for_calc/abs(df_adr_arb[df_adr_arb['type_1']=='steth_bought']['Value_steth'].sum())
    operating_profit = gross_profit+fees_paid
    time_period = df_trans[df_trans['Txhash'] == df_adr_arb.iloc[len(df_adr_arb)-1]['Txhash']]['UnixTimestamp'].sum() - df_trans[df_trans['Txhash'] == df_adr_arb.iloc[0]['Txhash']]['UnixTimestamp'].sum()
    APR = gross_profit/value_steth_for_calc / time_period *(365*24*60*60*100)
    net_APR = operating_profit/value_steth_for_calc / time_period *(365*24*60*60*100)
    
    adr_resume = pd.DataFrame({'characteristics':['Value of exchange, stETH',
                                                 'Margin of exchange, ETH',
                                                 'Gross profit, ETH:',
                                                 'APR, %:',
                                                 'Fees paid, ETH:',
                                                 'Operating profit, ETH:',
                                                 'Net APR, %:'],
                              'values':[value_steth_for_calc,
                                       margin,
                                       gross_profit,
                                       APR,
                                       fees_paid,
                                       operating_profit,
                                       net_APR]}).set_index('characteristics')
    
    dic_resume_all.update({address:adr_resume})
    
    if margin > 0: 
        list_resume_arbing.append(address)
        
        
    if (df_adr_arb[df_adr_arb['type_1']=='steth_sold']['steth_price'].max()-df_adr_arb[df_adr_arb['type_1']=='steth_bought']['steth_price'].min()) > 0.02:
        list_resume_arbing_leaders.append(address)                                                                                                       
    
    dic_trans.update({address:df_adr_arb[['Txhash','DateTime', 'Value_steth', 'Value_eth', 'TxnFee(ETH)', 'steth_price', 'type_1']].set_index('Txhash')})
    
#    print('Value of exchange, stETH:', value_steth_for_calc)
#    print('Margin, ETH:', round(margin,6))
#    print('Gross profit, ETH:',gross_profit)
#    print('APR, %:', APR)
#    print()
#    print('Fees paid, ETH:',fees_paid)
 #   print('Operating profit, ETH:', operating_profit)
 #   print('Net APR, %:', round(net_APR,2))
 #   print()
 #   print()

In [5]:
for address in list_resume_arbing_leaders:
    print('Address:', address)
    display(dic_resume_all.get(address))
    display(dic_trans.get(address))
    print()
    print()
    print()

Address: 0xe641a99b99b7fe11d6d6b44442a2a37bfd5696e5

                             values
characteristics
Value of exchange, stETH  20.611042
Margin of exchange, ETH    0.025897
Gross profit, ETH:         0.533770
APR, %:                   53.939999
Fees paid, ETH:           -0.012188
Operating profit, ETH:     0.521582
Net APR, %:               52.708313

,DateTime,Value_steth,Value_eth,TxnFee(ETH),steth_price,type_1
Txhash,,,,,,
0x0de075a9f6077a18c5d8dacc1b0e9a184eb3abdc63caecffab6a1882102b09d8,2021-03-28 09:42:01,20.611042,-20.000000,-0.008676,0.970354,steth_bought
0x9e0ef0ff408004c5c9451e6f66c282ab2cbb1f5fe3f5b17ab0a12172a84341cc,2021-04-14 22:16:45,-70.871092,70.605393,-0.012077,0.996251,steth_sold

Address: 0xa91508dc7a7753ac2420adc2fbd17ce8364810e7

                             values
characteristics
Value of exchange, stETH   6.103101
Margin of exchange, ETH    0.012453
Gross profit, ETH:         0.076000
APR, %:                   12.174912
Fees paid, ETH:           -0.032419
Operating profit, ETH:     0.043580
Net APR, %:                6.981435

,DateTime,Value_steth,Value_eth,TxnFee(ETH),steth_price,type_1
Txhash,,,,,,
0xd7991ffb709a596d0c38c79f56c70c60931a53dcef9af88f1739e8cdd1118d6a,2021-03-02 23:23:59,2.201905,-2.150000,-0.009785,0.976427,steth_bought
0xa0ab4a70d09a0d8a0688fcb4a0f71911d1d5b30926327dead60baf9569c1443d,2021-03-18 23:43:25,3.901196,-3.800000,-0.012528,0.974060,steth_bought
0x3b384ef18f474b361cd2f47b0195902f91640998cd9fa47e991c41cbbd1a1a3b,2021-03-31 07:48:25,-10.896144,10.692378,-0.019205,0.981299,steth_sold
0x5cf09589f87eaa3988e89f1516f324919bd605936d8cc3b3146be7c7d371d2cd,2021-04-09 07:22:54,-7.554659,7.525335,-0.011348,0.996118,steth_sold

Address: 0xb0e83c2d71a991017e0116d58c5765abc57384af

                              values
characteristics
Value of exchange, stETH  144.107275
Margin of exchange, ETH    -0.000913
Gross profit, ETH:         -0.131628
APR, %:                    -1.129438
Fees paid, ETH:            -0.080614
Operating profit, ETH:     -0.212242
Net APR, %:                -1.821153

,DateTime,Value_steth,Value_eth,TxnFee(ETH),steth_price,type_1
Txhash,,,,,,
0x4b32f32c66e898c889c00e72ca1eafdf3cece06ec8841aa9e3c9e8b8580fc093,2021-01-09 16:48:38,14.990587,-14.900000,-0.012127,0.993957,steth_bought
0x7ba436b8f7a4a62d358dfc7e8d366121dfab4ce7aba2567d5288b8cf7da76ba7,2021-01-09 16:50:21,32.057283,-31.900000,-0.012130,0.995094,steth_bought
0xc2c516e609dbe0c7ec1bf6f8a067594492bf88bfb369dfc05c190b043a1bb3ee,2021-01-09 19:44:30,50.002680,-50.000000,-0.007664,0.999946,steth_bought
0x2254d77f2959209ab52a2f5bbe17bfd38bc6000856921bab373b5f3cb7f1f070,2021-01-16 06:08:56,-204.143286,203.957921,-0.006291,0.999092,steth_sold
0xc5c1e20bbf2065e412c162285b256fa9737ed991c87f9d0caeda8152dc84b8ae,2021-01-17 17:29:28,44.955649,-44.000000,-0.007077,0.978742,steth_bought
0x8e443bc67734c6e9999cee34eedbb1237354682406b0083ca96b21657f581104,2021-01-17 19:17:31,-31.300000,30.654630,-0.008224,0.979381,steth_sold
0x61aaf972b17c8cd7b125a724625a6cee9f64968da1b1cf55ae24caab61ad81d9,2021-01-18 11:34:45,-32.000000,31.410486,-0.009197,0.981578,steth_sold
0xe7db4534c7c0e91618c37fb516322ac1de0a4eff424f02d96411d0aafd4f33e5,2021-01-19 08:03:21,-31.000000,30.187310,-0.012632,0.973784,steth_sold
0xf8a7fb494a81a37b10511504b41b38230e6c38812c739616c10c12b5d355c2ee,2021-01-19 12:25:32,-31.000000,30.218394,-0.017461,0.974787,steth_sold
0x5be4d8df698ef995c2de9d10e3cccf7461ce9f5e49bb64dc0d88d0f99e1aec69,2021-01-20 06:07:34,-31.350000,31.012409,-0.014975,0.989232,steth_sold
0x6c214866297d35698aec6ff44410eca8e1662e06d6b4694e5735c07641acc316,2021-02-08 05:15:00,2.101076,-2.100000,-0.014145,0.999488,steth_bought

Address: 0x0c4085d8e714ca77ac5f46cd2b80a92d238a7cd3

                             values
characteristics
Value of exchange, stETH  13.996564
Margin of exchange, ETH   -0.035537
Gross profit, ETH:        -0.497394
APR, %:                  -21.789696
Fees paid, ETH:           -0.057842
Operating profit, ETH:    -0.555236
Net APR, %:              -24.323611

,DateTime,Value_steth,Value_eth,TxnFee(ETH),steth_price,type_1
Txhash,,,,,,
0x948a197589540fbca503495ca6d103b85603ddbf9584cf159a61cadc196d4c09,2021-01-07 01:10:31,-0.100000,0.098459,-0.010099,0.984593,steth_sold
0x05aa9af127cfed49b9dafb477e8e50b951b4194d1455368e6bb3b39e11abba8e,2021-01-08 09:44:50,-3.251245,3.215673,-0.008777,0.989059,steth_sold
0x13ed1716a08034526169a37bcecee607382466d77a8d2b91e71874b374bc045e,2021-02-02 13:30:41,21.742285,-21.760000,-0.014893,1.000815,steth_bought
0xe46921d4fe3298f8f98227fa7fd412f5f1c01b92a170c7bdc9bb56456977ea61,2021-02-11 12:18:13,0.685777,-0.681200,-0.013428,0.993326,steth_bought
0xd2123cb5b190347fdcce8def8e9b4f4b0f040c7444cb417babe04aeaebc74b89,2021-03-05 00:34:52,0.400093,-0.386900,-0.012449,0.967025,steth_bought
0xcf34ea80e9fd0af4833619f8c718d97b4168a2ec0fd14ac320613c76beffd0bd,2021-03-07 13:50:46,-10.645319,10.185004,-0.013968,0.956759,steth_sold

Address: 0x49cae5c4e03196bef2f9984469bd096878043719

                               values
characteristics
Value of exchange, stETH   251.572598
Margin of exchange, ETH      0.039778
Gross profit, ETH:          10.007178
APR, %:                   4127.581023
Fees paid, ETH:             -0.057598
Operating profit, ETH:       9.949579
Net APR, %:               4103.823898

,DateTime,Value_steth,Value_eth,TxnFee(ETH),steth_price,type_1
Txhash,,,,,,
0x0fb9862cc3fce4100ecbff633fcc5aab9527cef4df56b7bf05b678ec32b640c8,2021-01-24 20:07:57,209.665904,-200.000000,-0.024468,0.953899,steth_bought
0x73d1753e09a209326ffd180a689c396d3703e26d85c8423ef9568b9c6f20f518,2021-01-24 20:11:27,41.906694,-40.000000,-0.014169,0.954501,steth_bought
0xd358e18481d8607506dae1170c6eb1c52cb5807457b5c7d5bf61c9dda7855b18,2021-01-25 04:34:29,-251.572598,250.007178,-0.018961,0.993777,steth_sold

Address: 0x11f262d4154f7860da5e4f595778087eb7434bce

                             values
characteristics
Value of exchange, stETH   2.565703
Margin of exchange, ETH    0.026528
Gross profit, ETH:         0.068063
APR, %:                   18.176711
Fees paid, ETH:           -0.014914
Operating profit, ETH:     0.053149
Net APR, %:               14.193866

,DateTime,Value_steth,Value_eth,TxnFee(ETH),steth_price,type_1
Txhash,,,,,,
0xaf11c95415411270153761647ed54c44566eea38e7a31ae02d4901502368908c,2021-01-09 16:09:02,-4.958851,4.963412,-0.012267,1.000920,steth_sold
0xfec105642700866a6c99fab9e2c525203a3fcdb5c3c56ebc2ef49a7b6b42b122,2021-03-03 22:37:23,2.565703,-2.500000,-0.008567,0.974392,steth_bought

Address: 0x1488ec6c55243e7130b756949b0238693c7e382b

                              values
characteristics
Value of exchange, stETH  137.950000
Margin of exchange, ETH     0.005996
Gross profit, ETH:          0.827138
APR, %:                    51.986251
Fees paid, ETH:            -0.024193
Operating profit, ETH:      0.802945
Net APR, %:                50.465715

,DateTime,Value_steth,Value_eth,TxnFee(ETH),steth_price,type_1
Txhash,,,,,,
0xb36cef7fb8e515fd96c4ac1e51d44c27d590e412c5767a0023f3e12c9d3ff61f,2021-01-22 18:18:57,251.298636,-250.000000,-0.011325,0.994832,steth_bought
0x6ee7637ae0427a4b3d0522f2c14eef548505f94f2a207397fcda7dcb640a16ec,2021-01-24 20:03:29,20.978855,-20.000000,-0.015994,0.953341,steth_bought
0x0820fc2e7ea693d0918e03e5f53b72bd05b54c43216759ed7ae3cd344162f943,2021-01-26 23:21:03,-137.950000,137.623242,-0.010352,0.997631,steth_sold

Address: 0x0eb4add4ba497357546da7f5d12d39587ca24606

                               values
characteristics
Value of exchange, stETH  1029.729159
Margin of exchange, ETH      0.027573
Gross profit, ETH:          28.392890
APR, %:                     28.076531
Fees paid, ETH:             -0.038585
Operating profit, ETH:      28.354306
Net APR, %:                 28.038376

,DateTime,Value_steth,Value_eth,TxnFee(ETH),steth_price,type_1
Txhash,,,,,,
0xbc708a1c91f9dc82ee985d557fb5a1a8856052e97b2a81cd50c58f1510b649bd,2021-03-08 20:46:08,1029.729159,-1000.000000,-0.015630,0.971129,steth_bought
0x15337673d32b5fba20be08402935b47833569975d21a6844bd03598e72adeba1,2021-04-13 17:03:49,-1037.329313,1035.983182,-0.023124,0.998702,steth_sold

Address: 0xfe62145b68ae16b59f88c121651a9019f13f3653

                             values
characteristics
Value of exchange, stETH  16.709098
Margin of exchange, ETH    0.011194
Gross profit, ETH:         0.187041
APR, %:                    9.367825
Fees paid, ETH:           -0.081613
Operating profit, ETH:     0.105427
Net APR, %:                5.280272

,DateTime,Value_steth,Value_eth,TxnFee(ETH),steth_price,type_1
Txhash,,,,,,
0xe048010a65b8a99b20646d2fdf0705d472385ecc8c52871c90b17ca50c2d5d3a,2021-03-10 08:04:28,4.612655,-4.500000,-0.009764,0.975577,steth_bought
0xda4272b6514862960cd0721ec1eedafe4a35ba90465a5e85f530b38ce058826d,2021-03-10 08:09:08,4.612612,-4.500000,-0.009658,0.975586,steth_bought
0x08f72ee2e6df2a433956b91a6f3b3079ffe3e963e503776f042d4e1a246b9023,2021-03-10 08:27:40,-4.730000,4.610831,-0.012468,0.974806,steth_sold
0x3f0141a093109710d87bb61b4ac7ca1aed7a7a02e1d62973f1609293f013ff79,2021-03-10 08:47:36,2.061927,-2.000000,-0.010838,0.969966,steth_bought
0xe341daf448d2c5219c4663c03fff539f7b49790da7971efb75c64f4860523a41,2021-03-13 14:29:25,5.421903,-5.300000,-0.014379,0.977516,steth_bought
0x186b2df63569ee84927043084e1e7602c791a42324ff1d557f6070eec2a493b7,2021-03-14 17:42:21,-1.500000,1.461587,-0.016427,0.974391,steth_sold
0x83d0ce27f57035264a262ba8b8389d91c30a285cde56ef44015a831f15a705cf,2021-04-22 22:50:14,-12.261351,12.173190,-0.012023,0.992810,steth_sold

Address: 0x000ad8f56d3408abe29466189612d1b7b19e4420

                             values
characteristics
Value of exchange, stETH  15.472488
Margin of exchange, ETH    0.021736
Gross profit, ETH:         0.336307
APR, %:                   11.336835
Fees paid, ETH:           -0.051061
Operating profit, ETH:     0.285246
Net APR, %:                9.615579

,DateTime,Value_steth,Value_eth,TxnFee(ETH),steth_price,type_1
Txhash,,,,,,
0x87f64b1e48c02c9c676f6436bc6e925a2a0fcf7e36782dbf0d8c8aa3174f8aba,2021-01-24 21:28:27,5.148609,-5.000000,-0.010724,0.971136,steth_bought
0x5932d4624ef919eb79c184c84c7e12a0e0986b8e08ea43c231c3f8644fc65332,2021-01-25 08:29:30,-5.148609,5.114416,-0.008698,0.993359,steth_sold
0x145d66f132efa3ac25dc8edfda01cb8d3179751c4feeabc0b8a8f2c04da59ca7,2021-02-10 22:28:49,5.102535,-5.000000,-0.012315,0.979905,steth_bought
0xa3f089f772dec0edd4e223fa2c1f7e68264ae83f2d46f4938a618a3f85b8db4f,2021-03-07 22:07:36,5.221344,-5.000000,-0.007834,0.957608,steth_bought
0xf446a409bf7d734780d8e6c844c88e9942dfb779704bb73f8ad06e57b0b1b96e,2021-04-04 21:00:22,-10.407321,10.304599,-0.011599,0.990130,steth_sold

Address: 0x50013c043ea8ed2b5377e38ff5a874dbfd16460b

                              values
characteristics
Value of exchange, stETH  160.256579
Margin of exchange, ETH     0.008277
Gross profit, ETH:          1.326468
APR, %:                     4.079201
Fees paid, ETH:            -0.106349
Operating profit, ETH:      1.220119
Net APR, %:                 3.752152

,DateTime,Value_steth,Value_eth,TxnFee(ETH),steth_price,type_1
Txhash,,,,,,
0xaf078f498be7467f6bcfb31a0f3edcf7914dcf008e6b88e536a327cb91c870cc,2021-01-24 21:37:22,47.250526,-46.000000,-0.009712,0.973534,steth_bought
0x0075a46728941b0f2c77200c5b5033fd5906151b9316ea51abfd8bd5baf9fb67,2021-01-26 05:52:20,-47.252949,47.124238,-0.007727,0.997276,steth_sold
0x2ce163a5f12c7acfaa589c4c100323f510ba6651b276e0f5ddf9b03df4060d9f,2021-02-10 05:37:03,23.104526,-23.000000,-0.013097,0.995476,steth_bought
0x32ed9fef2b007cf503b5293fb2c1ebab37d521be9161f1db3df372d400e47cb2,2021-02-14 19:22:47,-23.119321,23.065859,-0.016418,0.997688,steth_sold
0xe6bd25f69b387ab87a0cdac9cb4bc6a3c4539bfd3188ebf1b764a8f8f8cfe99a,2021-02-18 04:34:37,35.336362,-35.000000,-0.014133,0.990481,steth_bought
0xcdb24b0c8976436f936a395d74f135bffc32dd14d4424ae34424ed70aa4e6d32,2021-02-19 14:50:54,-35.342102,35.313003,-0.022919,0.999177,steth_sold
0xe1344536371e6f5e639ace44164ed150231e3b03507030d94568afa94ea14915,2021-02-21 06:40:32,60.002874,-59.520000,-0.011095,0.991952,steth_bought
0xd735c89cfdb55ad92c8f55c00792646ba2ada63687aa1b17a4443ea0ac10de26,2021-04-08 23:07:28,-54.542206,53.977014,-0.012824,0.989638,steth_sold

Address: 0x40d227723d66eb5d5cb1dff427c51a49d0b9957e

                               values
characteristics
Value of exchange, stETH  1590.818500
Margin of exchange, ETH      0.005491
Gross profit, ETH:           8.734513
APR, %:                      7.645423
Fees paid, ETH:             -0.324218
Operating profit, ETH:       8.410295
Net APR, %:                  7.361631

,DateTime,Value_steth,Value_eth,TxnFee(ETH),steth_price,type_1
Txhash,,,,,,
0x6897a7e3a7d4c0a7eba14106a75b2f19c55e6a8f5943691c641b11faf0482950,2021-01-24 20:29:32,104.371567,-100.000000,-0.012968,0.958115,steth_bought
0x0549b6e99a8e9f2f5be29c8676275545493bd9f9f07d9ae54523b70e033492ed,2021-01-31 05:37:06,101.014453,-100.000000,-0.013651,0.989957,steth_bought
0x71ce5216adb98fb8b9ebdd20b7375b9d964b6e76cdbb9d2063126d2c907c7b84,2021-02-01 05:36:54,-100.152000,100.001346,-0.013553,0.998496,steth_sold
0x7b424e71cddc5de2dd3668a1516dccc79f7e041c920ca9308c59b763b8590077,2021-02-07 00:40:11,250.478704,-250.000000,-0.016182,0.998089,steth_bought
0xe1a6012fd4f03f54a024f85022b6d371e6f52dbec44eda8f4b79dd7ab338c4b0,2021-02-07 02:49:00,-250.000000,249.907013,-0.024642,0.999628,steth_sold
0x7f8be0dc5fd7e37afcb61d997b82b7c55ed7dae2b1f61df957f0af5b88b8c581,2021-02-09 22:58:05,200.448440,-200.000000,-0.026971,0.997763,steth_bought
0x9587e435bd7ef91f8af5304b0af356468fb1bc454b3acba172e9c39dc44511a1,2021-02-10 00:06:16,-200.126500,200.000055,-0.030805,0.999368,steth_sold
0x9c53c08512ec2c7d48fd7f9819f6a3d07e488d1c4bbd736b2f332ba909742613,2021-02-10 03:35:59,250.991916,-250.000000,-0.026971,0.996048,steth_bought
0x91bacd9d135a8c84bbdf9574538c6804b94a2e0b7c6a0c0d1beff4441e90310f,2021-02-13 00:22:43,-250.060000,250.004901,-0.034434,0.999780,steth_sold
0x965051f5392c6425d92cfe949722c38a6cb5c9bc3bbb1db64ad7fd48a67facae,2021-02-13 05:46:26,100.481948,-100.000000,-0.015104,0.995204,steth_bought
0x74c1c652f9f3f2df8d5f4ddfde7bb7185a9b0677ce630aa4639b317b9202fc4b,2021-02-14 19:26:59,-100.480000,100.230515,-0.016757,0.997517,steth_sold
0x9e95b9e2c767b5bee07b24999c6aca55f4cfe4e2e34c2bba622c7bd7ac922d2f,2021-02-16 05:53:38,251.488640,-250.000000,-0.016697,0.994081,steth_bought
0x52fa50732dd1d08d8270e11419fbd4ee034e9ffe8b58b757044043323d27be6d,2021-02-17 16:53:53,165.502328,-165.000000,-0.020077,0.996965,steth_bought
0xc333def48fd09a63bc965e6cc33a54687cb144ccd2f3b7c4b98c5a47eb1c32d6,2021-02-17 21:29:00,201.017380,-200.000000,-0.034523,0.994939,steth_bought
0x1a4e1a0184d08e8255b0ff19568d0f97c474b3178aee57ac6f10ac05be32e946,2021-02-18 03:43:51,75.777124,-75.000000,-0.022979,0.989745,steth_bought
0x556bbf8688b2c2b8e2e8a617df517bc30e1d0b4ddd849e7e2265e94db9e77883,2021-02-18 13:39:17,-690.000000,688.985139,-0.019467,0.998529,steth_sold
0xd0fca3745489dd992663ebce94931c5b9c2ea0b6e23327c4112a0d9c3da7d1d8,2021-02-19 20:04:28,251.243813,-250.000000,-0.021803,0.995049,steth_bought
0xb64ffce51acabf4057a39203328946db1554e0cc83d0478b896c4f4ec3934eb0,2021-02-20 01:26:59,251.717569,-250.000000,-0.027464,0.993177,steth_bought
0xe1b70d534e1873b60ddef1380bf7782463a6880b17e7c5af24f6a3683d9aa45b,2021-02-20 01:35:37,251.559993,-250.000000,-0.029557,0.993799,steth_bought

In [6]:
adr_arb_empirical = [
'0x49cae5c4e03196bef2f9984469bd096878043719',
'0xe1e2a52a21226ba37f28ba6cdf59f20156798f94',
'0x125955cd603650eb3b1c0cf000ab78ad0213ddaf',
'0xa2e83e57502a89a3af7ceacc195b320f9ad7d64d',
'0x75c0c0591cdf9af7cb826a65ac213cff31916668',
'0x40d227723d66eb5d5cb1dff427c51a49d0b9957e',
'0x311bf6e6b6d416a808adf524b2fba791bf257e19',
'0x37ad9f5cb15867156bd75e76b8d9edc40fc077a8',
'0x97960149fc611508748de01202974d372a677632',
'0x6a77500a141fede525e57e422d65d67a32f2d8fe',
'0x116c095dc2b9fd304f5b20ea3a051ac82dd61c3a',
'0xdd01596074fa8e2a2f84d10d89090ae4543ea20b',
'0xe641a99b99b7fe11d6d6b44442a2a37bfd5696e5',
'0xec5abba31c186a9f2695a66a734f3d3ad6e85313',
'0xfe62145b68ae16b59f88c121651a9019f13f3653',
'0x000ad8f56d3408abe29466189612d1b7b19e4420',
'0xfaf16f5fd569ca0a22fd6a90cbd84bb18f5e2882',
'0xd9d41ad0fde1a199a5ecc896fc33806b189c1d0f',
'0xbfb0d8b06ec79d5f2059209221b15644956e8261',
'0xa40eb69d2adbd34ea73ea1dfd049f825e8216eb0',
'0xc50eaaee441566b4ef4f1e3270d19f24223cddf4',
'0x50013c043ea8ed2b5377e38ff5a874dbfd16460b',
'0xbfb496acb99299e9ece84b3fd1b3fdd0f6cddf49',
'0xa2d6db7b72e32091e9aa6514a57f8dc94971cbe0',
'0xcbba4fb07d4a86267741cf1a2c363284eed00f0f',
'0x11f262d4154f7860da5e4f595778087eb7434bce',
'0x0e66cf7a7e7a7f4574670f6c2c9d463e1478a06c',
'0x0eb4add4ba497357546da7f5d12d39587ca24606',
'0x1488ec6c55243e7130b756949b0238693c7e382b'

]
len(adr_arb_empirical)

29